<div class="connection-row row">
  <div class="col-lg-5 row">
    <div class="row col-lg-3">
      <img src="<%= photo(peer) %>" height="40" width="40" class="linkedin-photo" alt="" />
    </div>
    <div class="col-lg-9">
      <ul class="list-unstyled user-information">
        <li><h4><%= name(peer) %></h4></li>
        <li><i><%= peer.role %></i></li>
        <li><i><%= peer.city_state %></i></li>
        <li><strong>Sells: <%= peer.currently_sell %></strong></li>
        <li><strong><%= peer.portfolio_accounts.size %> companies in portfolio</strong></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-2">
    <%= peer.portfolio_accounts.first.company.name %>
  </div>
  <div class="col-lg-2">
    <%= peer.portfolio_accounts.first.departments.first.name %>
  </div>
  <div class="col-lg-1">
    <%= peer.portfolio_accounts.first.contact_levels.first.name %>
  </div>
  <div class="col-lg-2 text-center">
    <a href="<%= member_path(peer.id) %>" class="profile-button">View Profile</a>
  </div>
</div>
