<div id="show-connections" data-url="<%= params[:show] %>"></div>
<div ng-controller="ConnectionsController" class="row">

  <div class="col-lg-2">
    <ul class="connection-tabs list-unstyled" style="margin-bottom: 20px;">
      <p><li ng-class="{'active-con': tabs.myPeers, 'inactive-con': !tabs.myPeers}" ng-click="activeTab('myPeers')"> My Peers</li></p>
      <li ng-class="{'active-con': tabs.peerRequests, 'inactive-con': !tabs.peerRequests}" ng-click="activeTab('peerRequests')">Peer Requests</li>
      <li ng-class="{'active-con': tabs.myPeerRequests, 'inactive-con': !tabs.myPeerRequests}" ng-click="activeTab('myPeerRequests')">My Peer Requests</li>
      <li ng-class="{'active-con': tabs.matches, 'inactive-con': !tabs.matches}" ng-click="activeTab('matches')">Matches</li>
    </ul>
  </div>

  <div class="col-lg-10">
    <div class="col-lg-12">
      <div class="connection-headers row">
        <h4 class="col-lg-5 row header-gray">Member</h4>
        <h4 class="col-lg-2 header-gray">Company</h4>
        <h4 class="col-lg-2 header-gray">Department</h4>
        <h4 class="col-lg-1 header-gray">Contact</h4>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <div ng-show="tabs.myPeers" class="col-lg-12">
      <% @connections.each do |peer| %>
        <%= render partial: 'members', locals: {peer: peer} %>
      <% end %>
    </div>

    <div ng-show="tabs.peerRequests" class="col-lg-12">
      <% @pending_connections.each do |peer| %>
        <%= render partial: 'members', locals: {peer: peer} %>
      <% end %>
    </div>

    <div ng-show="tabs.myPeerRequests" class="col-lg-12">
      <% @requested_connections.each do |peer| %>
        <%= render partial: 'members', locals: {peer: peer} %>
      <% end %>
    </div>

    <div ng-show="tabs.matches" class="col-lg-12">
      <% @matches.each do |peer| %>
        <%= render partial: 'members', locals: {peer: peer} %>
      <% end %>
    </div>
  </div>
</div>
