<% flash.each do |key, messages| %>
  <div class="alert alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul class="list-unstyled">
    <% messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <ul>
  </div>
<% end %>
