<table class="table table-striped">
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Current Role (LinkedIn)</th>
      <th>Request Date</th>
      <th>View Profile</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>
        <td><%= member.position %></td>
        <td><%= member.created_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'Member Profile', admin_member_path(member.id) %></td>
        <td><%= member.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
