<%= render 'admin/members/alerts' %>
<%= form_for @admin, url: {action: 'create'} do |f| %>
  <div class="row form-group">
    <div class="col-lg-3">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>
  </div>
  
  <div class="row form-group">
    <div class="col-lg-3">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>
  
  <div class="row form-group">
    <div class="col-lg-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
  
  <%= f.submit 'Create Admin', class: 'btn btn-default' %>
  
<% end %>
