<%= render 'layouts/alerts' %>
<ul class="list-inline list-unstyled">
  <% if !@member.approved? %>
  <li>
    <%= link_to 'Approve', admin_approve_member_path(@member.id), method: :put %>
  </li>
  <% end %>
  <% if !@member.rejected %>
  <li>
    <%= link_to 'Reject', admin_disapprove_member_path(@member.id), method: :put %>
  </li>
  <% end %>
  <li>
    <%= link_to 'Suspend', admin_suspend_member_path(@member.id), method: :put %>
  </li>
  <li class="pull-right"><%= link_to 'Next', admin_member_path(@next.id), class: 'btn btn-default' %></li>
  <li class="pull-right"><%= link_to 'Back', admin_member_path(@back.id), class: 'btn btn-default' %></li>
</ul>
<div class="row">
  <div class="col-lg-3">
    <ul class="list-unstyled new-member-list">
      <li><img src="<%= @member.linkedin_photo %>" width="120px" height="80px"> <a href="<%= @member.linkedin_url %>">LinkedIn</a> </li>
      <li><strong>First Name</strong>: <%= @member.first_name %></li>
      <li><strong>Last Name:</strong> <%= @member.last_name %></li>
      <li><strong>Email:</strong> <%= @member.email %></li>
      <li><strong>City:</strong> <%= @member.city %></li>
      <li><strong>State:</strong> <%= @member.state %></li>
      <li><strong>Cell:</strong> <%= @member.phone_number %></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul class="list-unstyled new-member-list">
      <li><img src="<%= @member.avatar %>" alt="" class="linkedin-photo" height="80px"> Anonymous Username: <%= @member.anonymous_username %></li>
      <li><strong>Current Role:</strong> <%= @member.role %></li>
      <li><strong>Current Position:</strong> <%= @member.position %></li>
      <li><strong>What do you currently sell?:</strong> <%= @member.currently_sell %></li>
      <li><strong>What industries do you focus on?:</strong> <%= @member.industries.map(&:name).join(", ") %></li>
      <li><strong>What departments do you sell to?:</strong> <%= @member.departments.map(&:name).join(", ") %></li>
    </ul>
  </div>
  <div class="col-lg-3">
    <ul class="list-unstyled">
      <li>Request Date: <%= @member.created_at.strftime("%m/%d/%Y") %></li>
      <li>Peer Network: <%= @member.peers.size %></li>
    </ul>

  </div>
</div>

<strong>Mini Resume:</strong>
<p>
  <%= @member.summary %>
</p>

Company Portfolio (<%= @member.portfolio_accounts.size %>)
<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Industries</th>
      <th>Departments</th>
      <th>Contact Levels</th>
    </tr>
  </thead>
  <tbody>
  <% @member.portfolio_accounts.each do |portfolio| %>
    <tr>
      <td><%= portfolio.company.name %></td>
      <td><%= portfolio.company.comp_industries.map(&:name).join(", ") %></td>
      <td><%= portfolio.departments.map(&:name).join(", ") %></td>
      <td><%= portfolio.contact_levels.map(&:name).join(", ") %></td>
    </tr>
  <% end %>
</tbody>
</table>
