<!-- Check this file - I don't think I need it anymore -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-admin" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="text-center">Your identity is kept private until you invite someone to join your peer group or you accept an invitation from another member to join their peer group</h3>
        <h4 class="text-center">Please select your anonymous avatar from the list below.</h4>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      <!-- </div> -->
      <!-- <div class="modal-body">
        ...
      </div> -->

      <div class="alert alert-warning alert-dismissible hide avatar-notice" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Please select an Avatar!
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <a href="#" data-dismiss="modal" class="pull-left">CANCEL</a>
        <div class="center-avatar-button">
          <button type="button" onclick="addAvatar()" class="avatar-select-button">SELECT</button>
        </div>
      </div>
    </div>
  </div>
</div>
