
        <%= f.label :anonymous_username, 'Anonymous Username' %>
        <a type="button" class="username-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="<%= I18n.t('username_description') %>">
          <i>&#63;</i>
        </a>

        <div class="avatar-button">
          <ul class="list-unstyled list-inline">
            <li><a href="" data-toggle="modal" data-target="#avatarModal">Select Avatar</a></li>
            <li><img src="<%= asset_path('select_avatar.png') %>" id="avatar-image" alt="" /></li>
            <div id="avatar_url" data-url="<%= resource.avatar %>"></div>
          </ul>
        </div>

        <%= f.text_field :avatar, id: 'avatar-input' %>
        <% images = @images unless @images.nil? %>
        <%= render partial: 'devise/registrations/avatar_modal', locals: {f: f, images: images} %>
        
    <ul class="accept-terms text-center list-unstyled list-inline">
      <li>
        <input type="checkbox" id="checkbox" class="icon-checkbox" name="terms" value="accepted" >
        <label class="checkbox-label" for="checkbox">
          <span class='glyphicon glyphicon-unchecked unchecked'></span>
          <span class='glyphicon glyphicon-check checked'></span>
          Please accept Peer Nation <a href="#" data-toggle="modal" data-target="#myModal">user agreement</a>
        </label>
      </li>
    </ul>
    
    
    
    

      <div class="row">
        <% images.each do |image| %>
          <div class="col-lg-3 col-lg-15">
            <img id="avatar-<%= image.id %>" src="<%= image.image %>" class="avatar-image" alt="" onclick='assignAvatar("<%= image.image %>", <%= image.id %>)' />
            <div class="hide green-<%= image.id %> green-check" style="background-image: url('<%= asset_path('green_check.png') %>');">
            </div>
          </div>
        <% end %>
      </div>