<div class="modal fade" id="workInIndustryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-admin" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="text-center"></h3>
        <h4 class="text-center"></h4>

      <div ng-repeat="industry in industries">
        <h4>{{industry}} <i class="glyphicon glyphicon-remove" ng-click="removeIndustry(industry)"></i></h4>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <a href="#" data-dismiss="modal" class="pull-left">Close</a>
      </div>
    </div>
  </div>
</div>
