<%= stylesheet_link_tag 'select-multiple' %>

<h4><i class="fa fa-cog"></i> User Information</h4>
<div class="settings-box row" ng-controller="RegistrationController">
  <div class="col-lg-12">
    <%= render 'layouts/alerts' %>
    <h5> Account Status: <strong><%= current_user.status %></strong> </h5>
  </div>
    <%= form_for(current_user, url: registration_path(current_user), html: {method: :put} ) do |f| %>

    <div class="col-lg-6 sign-up-form">
      <h4 class="text-center">Personal Information</h4>
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, class: "my-input" %>

        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name, class: "my-input" %>

        <%= f.label :email %><br />
        <%= f.email_field :email, class: "my-input" %>

        <%= f.label :city %><br />
        <%= f.text_field :city, class: "my-input" %>

        <%= f.label :state, class: 'my-select-label'%>
        <%= f.select :state, options_for_select(@states, current_user.state), {include_blank: true}, {class: 'my-select'} %>

        <%= f.label :phone_number, 'Cell Number' %><br />
        <%= f.text_field :phone_number, class: "my-input" %>

    </div>

    <div class="col-lg-6 sign-up-form">
      <h4 class="text-center">Professional Information</h4>

      <%= f.label :position, "Current Position" %>
      <%= f.text_field :position, class: "my-input" %>

      <%= f.label :position, "Current Role" %>
      <div>
        <%= f.select :role, options_for_select(['Sales Professional', 'Consultant', 'Executive', 'Businesss Development']), {}, {class: 'my-select'} %>
      </div>

      <%= f.label :currently_sell, "What do you currently sell?" %>
      <%= f.text_field :currently_sell, class: "my-input" %>

      <%= f.fields_for :industries do |ind| %>
        <%= ind.label :industry_id, "What industries do you work in?", class: 'my-select-label' %>
        <%= ind.select :industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.industries.map(&:id)), {}, {class: 'my-select', multiple: true} %>
      <% end %>
      
      <div id="industries" data-url="<%= Industry.all.pluck(:id, :name) %>"></div>
      <div id="focus_on_industry_ids" data-url="<%= @focus_on_industry_ids %>"></div>
      <%= f.fields_for :target_industries do |ind| %>
        <%= ind.label :industry_id, 'What industries do you focus on?' %> <span ng-if="industries.length > 0">{{industries.length}} added <i><a href="" data-toggle="modal" data-target="#workInIndustryModal">edit</a></i></span>
        <%= ind.text_field(:industries, class: 'my-input', :'ng-model' => 'industry_selected', :'typeahead-select-on-blur' => true, :'typeahead-loading' => 'loadingStates', :'typeahead-no-results' => 'noResults', :'uib-typeahead' => 'industry for industry in getIndustries($viewValue) | limitTo: 10', :'typeahead-on-select' => 'storeIndustry($item)', autocomplete: :off) %>
        <%= ind.hidden_field :industry_id %>
      <% end %>
      <%= render 'work_in_industries' %>

      <%= f.fields_for :departments do |dep| %>
        <div id="focus_on_industry_ids" data-url="<%= @focus_on_industry_ids %>"></div>
        <%= dep.label :department_id, "What departments do you sell to?", class: 'my-select-label' %>
        <%= dep.select :department_id, options_from_collection_for_select(Department.all, :id, :name, current_user.departments.map(&:id)), {}, {class: 'my-select', multiple: true} %>
      <% end %>

    </div>

    <div class="col-lg-12 sign-up-form">
      <%= f.label :summary, "Mini Resume (500 words max)" %>
      <%= f.text_area :summary, size: "30x4", maxlength: '750', class: "my-input" %>
      <%= f.hidden_field :uid, value: current_user.uid %>
      <%= f.hidden_field :provider, value: current_user.provider %>
    </div>

    <div class="sign-up-form">

      <div class="col-lg-6">
        <%= f.label :anonymous_username, 'Anonymous Username' %>
        <a type="button" class="username-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="<%= I18n.t('username_description') %>">
          <i>&#63;</i>
        </a>
        <%= f.text_field :anonymous_username, class: 'my-input' %>
        
        <div class="avatar-button">
          <ul class="list-unstyled list-inline">
            <li><a href="" data-toggle="modal" data-target="#avatarModal">Select Avatar</a></li>
            <li> <img src="<%= current_user.avatar %>" alt="" id="avatar-image" class="linkedin-photo" height="100"/> </li>
          </ul>
        </div>
      </div>
      <%= f.text_field :avatar, id: 'avatar-input' %>
      <%= render partial: 'devise/registrations/avatar_modal', locals: {f: f, images: @images} %>

    </div>

    <div class="col-lg-12">
      <div class="sign-up-form-border"></div>
    </div>

    <div class="col-lg-12 text-center sign-up-form-button">
      <%= f.submit "Update", class: "" %>
    </div>

  <% end %>
</div>

<%= javascript_include_tag 'avatar' %>
<%= javascript_include_tag 'select-multiple' %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.my-select').SumoSelect({placeholder: 'Select options from below'});
  });
  
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
