<div class="cubed">
  <div class="text-center center sign-in-form">
  <% if !resource.errors.empty? %>
    <%= render 'devise/registrations/devise_errors' %>
  <% end %>

  <%= image_tag('logo-vertical-white.png', size: '150x65', style: 'margin-bottom: 20px;') %>

  <a style="margin-bottom: 40px;" class="btn btn-block btn-social btn-linkedin text-center" href="<%= user_omniauth_authorize_path(:linkedin) %>">
    Sign up with LinkedIn
  </a>
    <h2>Or</h2>
    <h4>Sign up with your a username and password</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name, referrer: params[:referrer])) do |f| %>

    <div class="form-group">
      <%= f.text_field :full_name, class: "form-control", placeholder: 'Full Name' %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Password Confirmation' %>
    </div>

    <div class="col-lg-12 accept-terms checkbox-label">
      By signing up you agree to Peer Nation's <a href="#" data-toggle="modal" data-target="#myModal">user agreement</a>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-login" %>
    </div>

  <% end %>

  <%= render 'devise/registrations/agreement_modal' %>
  </div>
</div>
