<% if comment.ancestry? %>
  <div class="row children-section">
    <div class="col-lg-1">
      <img src="<%= comment.show_image(current_admin, current_user, comment.user) %>" width="40" alt="" style="border-radius: 50px;"/>
    </div>

    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-12">
          <p> <strong><%= comment.show_name(current_admin, current_user, comment.user) %></strong> <%= comment.content %> </p>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row ancestor-section">
    <div class="col-lg-1">
      <img src="<%= comment.show_image(current_admin, current_user, comment.user) %>" width="50" alt="" />
    </div>

    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="pull-left"><%= comment.show_name(current_admin, current_user, comment.user) %></h5>
          <p><i class="pull-right"><%= comment.created_at.strftime('%m/%d/%Y') %></i></p>
        </div>
        <div class="col-lg-12">
          <% if comment.comment_type == 'Contact' %>
          <ul class="list-unstyled">
            <li><%= comment.first_name %></li>
            <li><%= comment.last_name %></li>
            <li><%= comment.title %></li>
            <li><%= comment.email %></li>
            <li><%= comment.phone_number %></li>
          </ul>
          <% end %>
          <p> <%= comment.content %> </p>
        </div>

        <div class="col-lg-3">
          <i class="fa fa-comment company-comment"></i>
          <a href="#" ng-click="replyForm(<%= comment.id %>)">Respond</a>
        </div>
        <div class="col-lg-9" ng-model="comment">
          <% if comment.children? %>
            <a href="#" ng-click="showReplyComments(<%= comment.id %>, comment)" class="pull-right" ng-if="comment[<%= comment.id %>] != <%= comment.id %>"><i class="fa fa-chevron-down"></i></a>
            <a href="#" ng-click="showReplyComments(<%= comment.id %>, comment)" class="pull-right" ng-if="comment[<%= comment.id %>] == <%= comment.id %>"><i class="fa fa-chevron-up"></i></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="hidden" id="<%= comment.id %>">
    <div class="col-lg-11 col-lg-offset-1">
      <%= nested_comments comment.children %>
    </div>
  </div>
</div>

<div class="row">
  <div class="hidden" id="form-<%= comment.id %>">
    <div class="col-lg-11 col-lg-offset-1 reply-comment-form">
        <%= render partial: 'comments/reply_form', :locals => {:comment => comment} %>
    </div>
  </div>
</div>
