<h5 class="company-show-border">SELECT TO VIEW</h5>

<%= form_tag company_path(params[:id]), method: "get" do %>
  <ul class="list-unstyled company-filter-list">
    <li>
      <%= radio_button_tag 'comment_type', 'comment' %>
      <%= label_tag 'Comment' %>
    </li>
    <li>
      <%= radio_button_tag 'comment_type', 'question' %>
      <%= label_tag 'Question' %>
    </li>
    <li>
      <%= radio_button_tag 'comment_type', 'contact' %>
      <%= label_tag 'Contact' %>
    </li>
  </ul>

  <h5 class="company-show-border">Search by keyword</h5>
  <%= text_field_tag :keywords, nil, placeholder: 'Keywords', id: 'keyword-search-form', autocomplete: 'off' %>
  <%= hidden_field_tag :post, true %>
  <%= submit_tag 'Search', class: 'search-button' %>
<% end %>
