<div class="col-lg-12">
  <form ng-submit="postComment(formComment)" name="CommentForm" class="clearfix">
      <div class="row company-show-border">
        <ul class="pull-left list-inline">
          <li>Select your post type:</li>
          <li><input ng-checked="true" ng-click="showContactForm(formComment.commentType)" ng-model="formComment.comment" type="radio" name="comment-type" value="Comment"> <i class="fa fa-comment"></i> Comment</li>
          <li><input type="radio" ng-click="showContactForm(formComment.question)" name="comment-type" value="Question" ng-model="formComment.question"> <i class="fa fa-question-circle"></i> Question</li>
          <li><input type="radio" ng-click="showContactForm(formComment.contact)" name="comment-type" value="Contact" ng-model="formComment.contact"> <i class="fa fa-user"></i> Contact</li>
          <li>
            <select class="" ng-model="formComment.visibility" required>
              <option value="All" selected="selected">All</option>
              <option value="Peers Only">Peers Only</option>
            </select>
          </li>
        </ul>
      </div>

      <div ng-if="contactForm" class="row company-show-border comment-inputs">
        <div class="row">
          <div class="col-lg-4">
            <input type="text" name="name" class="comment-text-input form-control" ng-model="formComment.first_name" value="" placeholder="Contact First Name">
          </div>
          <div class="col-lg-4">
            <input type="text" name="name" class="comment-text-input form-control" ng-model="formComment.last_name" value="" placeholder="Contact Last Name">
          </div>
          <div class="col-lg-4">
            <input type="text" name="name" class="comment-text-input form-control pull-right" ng-model="formComment.title" value="" placeholder="Title">
          </div>
          <div class="col-lg-4">
            <input type="text" name="name" class="comment-text-input form-control" ng-model="formComment.email" value="" placeholder="Email">
          </div>
          <div class="col-lg-4">
            <input type="text" name="name" class="comment-text-input form-control" ng-model="formComment.phone_number" value="" placeholder="Phone Number">
          </div>
        </div>
      </div>

      <div class="row textarea-comments">
        <textarea class="col-lg-12 form-control" ng-model="formComment.content" rows="5" name="name" value="" placeholder="Leave a comment"> </textarea>
      </div>

      <input type="hidden" ng-value="formComment.parent_id = null">
      <input type="hidden" ng-value="formComment.comment_id = null">
      <input type="hidden" ng-value="formComment.company_id = <%= params[:id] %>">
      <div class="row pull-left">
      <input type="Submit" class="post-comment-button btn" name="name" value="Post">
    </div>
  </form>
</div>
