<div class="row">
<form ng-submit="postComment(replyComment)" name="ReplyForm" class="comment-post clearfix">
  <div class="col-lg-1">
    <img src="<%= current_user.linkedin_photo if current_user %>" width="40px" style="border-radius: 100px;" alt="">
  </div>
  <div class="col-lg-11">
    <input class="my-input" ng-model="replyComment.content" rows="1" name="name" value="" placeholder="Write a response">
    </input>
  </div>
  <input type="hidden" ng-value="replyComment.parent_id = <%= comment.id %>">
  <input type="hidden" ng-value="replyComment.comment_id = null">
  <input type="hidden" ng-value="replyComment.company_id = null">
  <div class="form-group col-lg-6 col-lg-offset-3">
  </div>
</form>
</div>
