<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row form-group">
    <div class="col-lg-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-default" %>
  </div>
<% end %>
