<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
<%= javascript_include_tag 'controllers/member_request_ctrl' %>
<div class="request-membership-picture">
  <div class="request-membership-picture-overlay">
    <div ng-controller="MemberRequestsController" class="container">
      <a href="<%= root_path %>"><img src="<%= @logo_url %>" alt="" /></a>
      <div class="member-request-form">

        <div class="row">

          <div class="col-lg-6">
            <div class="questrial-font request-form-header">
              <h1>The most productive way to accelerate sales is coming soon</h1>
              <h3>Imagine a day when you can reach out to a peer to gain account insights and referrals into your target accounts.</h3>
              <h3>WELL, THAT DAY WILL COME SOON.</h3>
            </div>
          </div>

          <div class="col-lg-6">
            <form name="member-request" class="the-request-form" ng-submit="memberRequest(request)">
                <div class="join-community questrial-font text-center">
                  <h3>Join our Community</h3>
                  <p> Fill out the form below </p>
                </div>
                <div class="request-form-filler col-lg-12">
                  <div class="form-group col-lg-12">
                    <input type="text" ng-model="request.first_name" name="name" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="text" ng-model="request.last_name" name="name" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="email" ng-model="request.email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="">Your Role</label>
                    <select class="form-control" ng-model="request.role" ng-options="role for role in roles" ng-cloak>
                    </select>
                  </div>
                  <div class="form-group col-lg-12">
                    <button type="submit" class="request-form-button pull-left">Sign me up!</button>
                    <a href="#" class="pull-right">FAQ</a>
                    <a href="#" class="pull-right">Privacy Policy-</a>
                  </div>
                </div>
            </form>

            <div class="go-live col-lg-12 questrial-font" ng-show="submitted">
              <h3 class="text-center">When we go live, you will be the first to know</h3>
            </div>
            <div class="alert my-danger col-lg-12" ng-show="notSubmitted">
              <ul ng-repeat="response in responses" class="list-unstyled">
                <li>{{response}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
