<ul class="list-inline list-unstyled" style="margin-top: 10px;">
  <li ng-click="archiveMessages()" class="pointer"><i class="glyphicon glyphicon-folder-open"></i> Archive</li>
  <li ng-click="trashMessages()" class="pointer"><i class="glyphicon glyphicon-trash"></i> Trash</li>
</ul>

<% flash.each do |name, message| %>
<div class="alert row alert-<%= name %>" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
</div>
<% end %>
<div ng-if="messageError" class="alert row alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{messageError}}
</div>