<form name="new_conversation" class="form-horizontal" ng-submit="startConversation(conversation)">

  <input type="hidden" name="name" ng-value="conversation.receiver_id = <%= sender_id %>">
  <div class="form-group">
    <input ng-model="conversation.subject" type="text" name="name" value="" class="form-control" placeholder="subject">
  </div>

  <div class="form-group">
    <textarea ng-model="conversation.body" name="body" rows="8" cols="40" class="form-control" placeholder="Body message"></textarea>
  </div>

  <div class="form-group pull-right">
    <input type="submit" name="name" value="Send" class="btn btn-default">
    <input type="button" name="name" value="Cancel" class="btn btn-default">
  </div>

</form>
