  <div class="col-lg-2">
    <h4><i class="fa fa-envelope blue"></i> Messages</h4>
    <a href="<%= new_inbox_path %>" class="message-button col-lg-12 text-center"><i class="fa fa-pencil-square-o"></i> New Message</a>
    <ul class="list-unstyled inbox-list">
      <a href="<%= inbox_index_path %>"><li ng-class="{blue: totalReceivedPages}"><i class="glyphicon glyphicon-arrow-down"></i> Inbox</li></a>
      <a href="<%= inbox_sent_conversations_path %>"><li ng-class="{blue: totalSentPages}"><i class="glyphicon glyphicon-arrow-up"></i> Sent</li></a>
      <a href="<%= inbox_archived_conversations_path %>"><li ng-class="{blue: totalArchivedPages}"><i class="glyphicon glyphicon-folder-open"></i> Archived</li></a>
      <a href="<%= inbox_trashed_conversations_path %>"><li ng-class="{blue: totalTrashedPages}"><i class="glyphicon glyphicon-trash"></i> Trash</li></a>
    </ul>
  </div>
