<form name="new_conversation" class="form-horizontal" ng-submit="sendMessage(message)">

  <input type="hidden" name="name" ng-value="message.conversation_id = <%= conversation_id %>">
  <input type="hidden" name="name" ng-value="message.receiver_id = <%= receiver_id %>">

  <div class="form-group">
    <textarea ng-model="message.body" name="body" rows="8" cols="40" class="form-control" placeholder="Body message"></textarea>
  </div>

  <div class="form-group pull-right">
    <input type="submit" name="name" value="Send" class="btn btn-default">
    <input type="button" name="name" value="Cancel" class="btn btn-default">
  </div>

</form>
