<div class="row" ng-controller="ConversationsController">
<div ng-init="getArchivedConversations(1)"></div>
  <%= render 'menu' %>
  <div class="col-lg-9">
    <%= render 'alerts' %>
    
    <div class="message-row-read row" ng-repeat="convo in archivedConversations">
      <ul class="list-unstyled list-inline" ng-repeat="receiver in convo.receivers | limitTo: 1 track by receiver.photo">
        <li><input type="checkbox" name="name" value="" ng-change="addIds(checked, convo.id)" ng-model="checked"></li>
        <li><img ng-src="{{receiver.photo}}" class="linkedin-photo" height="40" width="40" alt="" /></li>
      </ul>
      <a ng-href="/inbox/message/{{convo.id}}"><div class="col-lg-10">
        <p><strong>{{convo.receiver_names | cut:true:30:'...'}}</strong> </p>
        <p>{{convo.message.body | cut:true:100:'...'}}</p>
      </div></a>
    </div>

    <div class="paginate text-center" ng-if="totalArchivedPages > 1">
      <ul class="list-inline list-unstyled">
        <li ng-click="prevPage(totalArchivedPages)"><i class="glyphicon glyphicon-chevron-left"></i></li>
        <li><p> Page {{page}} of {{totalArchivedPages}} </p></li>
        <li ng-click="nextPage(totalArchivedPages)"><i class="glyphicon glyphicon-chevron-right"></i></li>
      </ul>
    </div>
  </div>
</div>
