<div class="row" ng-controller="ConversationsController">
<div ng-init="getReceivedConversations(1)"></div>
<%= render 'menu' %>
  <div class="col-lg-9" ng-cloak>
    <%= render 'alerts' %>

    <div class="row" ng-repeat="convo in receivedMessages" ng-class="{'message-row-read': convo.opened, 'message-row-unread': !convo.opened}">
      <ul class="list-unstyled list-inline" ng-repeat="sender in convo.senders | limitTo: 1">
        <li><input type="checkbox" name="name" value="" ng-change="addIds(checked, convo.id)" ng-model="checked"></li>
        <li><img ng-src="{{sender.linkedin_photo}}" class="linkedin-photo" height="40" width="40" alt="" /></li>
      </ul>
      <a ng-href="/inbox/message/{{convo.id}}">
        <div class="col-lg-10">
          <p><strong>{{convo.sender_names | cut:true:100:'...'}}</strong></p>
          <span><p>{{convo.message.body | cut:true:100:'...'}}</p></span>
        </div>
      </a>
    </div>

    <div class="paginate text-center" ng-if="totalReceivedPages > 1">
      <ul class="list-inline list-unstyled">
        <li ng-click="prevPage(totalReceivedPages)"><i class="glyphicon glyphicon-chevron-left"></i></li>
        <li><p> Page {{page}} of {{totalReceivedPages}} </p></li>
        <li ng-click="nextPage(totalReceivedPages)"><i class="glyphicon glyphicon-chevron-right"></i></li>
      </ul>
    </div>
  </div>
</div>
