<div class="row" ng-controller="ConversationsController">
  <%= render 'menu' %>
  
  <div class="col-lg-9">
    </br>
    </br>
    <div ng-if="successMessage" class="alert alert-success row">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{successMessage}}
    </div>
    <div ng-if="errorMessage" class="alert alert-danger row">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{errorMessage}}
    </div>
    <form name="new_conversation" class="form-horizontal" ng-submit="startConversation(conversation)">

      <div class="outer-send-message row">
        <table>
          <tr>
            <th ng-repeat="recipient in recipients"><img ng-src="{{recipient.photo}}" class="linkedin-photo" style="margin-right: 5px;" width="20" height="20" alt="" />{{recipient.name}}<i style="margin-left: 10px;" class="fa fa-times" ng-click="removeRecipient(recipient)"></i></th>
            <th class="to-message-box">
              <input type="text" name="name" value="" ng-model="selectedRecipient" id="load-recipients" typeahead-loading='loadingRecipients' typeahead-select-on-blur="true" uib-typeahead="recipient.name for recipient in getConnections($viewValue) | limitTo: 8" typeahead-on-select="addRecipient($item);selectedRecipient = null;" placeholder="Type a name" autocomplete="off">
            </th>
          </tr>
        </table>
      </div>
      
      <div class="row message-area">
        <input ng-model="conversation.subject" type="text" name="name" value="" class="col-lg-12" placeholder="subject">
      
        <input type="hidden" name="name" ng-value="">
        <textarea ng-model="conversation.body" name="body" rows="8" cols="40" class="col-lg-12" placeholder="Body message"></textarea>

      </div>
      <div class="row pull-left message-buttons">
        <input type="submit" name="name" value="Send" class="btn btn-default">
        <input type="button" name="name" value="Cancel" class="btn btn-default">
      </div>

    </form>
  </div>
</div>
