<div ng-controller="ConversationsController">
  <div class="row">
    <p> Send a message to: </p>
    <h5><%= @recipient.full_name %></h5>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-success" ng-cloak ng-if="conversationSuccessful">
        <h4>{{response}}</h4>
      </div>
      <div class="alert alert-danger" ng-cloak ng-if="conversationError">
        <p> Please fix the following problems: </p>
        <ul ng-repeat="response in responses">
          <li>{{response}}</li>
        </ul>
      </div>
      <%= render partial: 'conversation_form', locals: {sender_id: @recipient.id} %>
    </div>
  </div>
</div>