<div class="row" ng-controller="ConversationsController">
<%= render 'menu' %>
  <div class="col-lg-9" ng-cloak>
    <br>
    <br>
    <form name="reply-form" ng-submit="postReply(reply)">
      <div class="outer-send-message row">
        <table>
          <tr>
            <th ng-repeat="recipient in recipients"><img ng-src="{{recipient.linkedin_photo}}" class="linkedin-photo" style="margin-right: 5px;" width="20" height="20" alt="" />{{recipient.full_name}}<i style="margin-left: 10px;" class="fa fa-times"></i></th>
            <th class="to-message-box">
              <input type="text" name="name" value="" ng-model="selectedRecipient" id="load-recipients" typeahead-loading='loadingRecipients' typeahead-select-on-blur="true" uib-typeahead="recipient.full_name for recipient in getConnections($viewValue) | limitTo: 8" typeahead-on-select="addRecipient($item);selectedRecipient = null;" placeholder="Type a name" autocomplete="off">
            </th>
          </tr>
        </table>
      </div>
    
      <div class="message-area row">
        <input type="hidden" value="<%= @conversation.id %>" ng-value="reply.message_id = <%= @conversation.id %>" name="name" value="">
        <input type="hidden" value="<%= @conversation.sender.id %>" id="send-to" name="name" value="">
        <input value="Re: <%= @conversation.subject %>" type="text" name="name" class="col-lg-12" placeholder="subject">
        <div>
          <div class="col-lg-12">
            <textarea name="name" class="col-lg-12 row reply-textarea" ng-model="reply.body"></textarea>
          </div>
          <% @conversation.messages.each do |message| %>
            <div class="col-lg-12">
              <p><%= message.created_at.strftime("%b %e, %l:%M %p") + " - " + message.sender.full_name %> </p>
              <p>---------------------------------------------------------------</p>
              <p><%= message.body %></p>
            </div>
          <% end %>
            <div class="col-lg-12">
              <p><%= @conversation.created_at.strftime("%b %e, %l:%M %p") + " - " + @conversation.sender.full_name %></p>
              <p>---------------------------------------------------------------</p>
              <p><%= @conversation.body %></p>
            </div>
        </div>
      </div>
      <div class="row pull-left message-buttons">
        <input type="submit" name="name" value="Send" class="btn btn-default">
        <input type="button" name="name" value="Cancel" class="btn btn-default">
      </div>
    </form>
  </div>
</div>