<div class="row" ng-controller="MessagesController as msgs" ng-init="msgs.getMessages(<%= params[:id] %>)">
<%= render 'menu' %>
  <div class="col-lg-9" ng-cloak>
    <ul class="list-inline list-unstyled" style="margin-top: 10px;">
      <li ng-click="archiveMessage(<%= @conversation.id %>)" class="pointer"><i class="glyphicon glyphicon-folder-open"></i> Archive</li>
      <li ng-click="trashMessage(<%= @conversation.id %>)" class="pointer"><i class="glyphicon glyphicon-trash"></i> Trash</li>
    </ul>

    <div ng-if="msgs.messageSuccess" class="alert row alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{msgs.messageSuccess}}
    </div>
    <div ng-if="msgs.messageError" class="alert row alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{msgs.messageError}}
    </div>
    
    <div class="message-row-read row">
      Subject: {{msgs.conversation.subject}}
    </div>
    
    <div class="reply-div row" ng-if="!msgs.showReplyBox">
      <a href="#" ng-click="msgs.showReply()">Reply</a>
    </div>
    
    <div class="reply-textarea row" ng-if="msgs.showReplyBox">
      <form ng-submit="msgs.sendReplyMessage(message)">
        <div class="outer-send-message" style="margin-bottom: 1px;">
          <table>
            <tr>
              <th ng-repeat="receiver in msgs.receivers"><img ng-src="{{receiver.photo}}" class="linkedin-photo" style="margin-right: 5px;" height="20" width="20" alt="" />{{receiver.name}}<i style="margin-left: 10px;" class="fa fa-times" ng-click="msgs.removeReceiver(receiver)"></i></th>
              <th class="to-message-box">
                <input type="text" name="name" value="" ng-model="selectedRecipient" id="load-recipients" typeahead-loading='loadingRecipients' typeahead-select-on-blur="true" uib-typeahead="recipient.name for recipient in msgs.getConnections($viewValue) | limitTo: 8" typeahead-on-select="msgs.addReceiver($item);selectedRecipient = null;" placeholder="Type a name" autocomplete="off">
              </th>
            </tr>
          </table>
        </div>
        <textarea name="name" rows="8" cols="40" autofocus="true" rows="8" ng-model="message.body"></textarea>
        <div class="reply-button">
          <input type="submit" name="commit" value="Reply">
          <i ng-click="msgs.discardMessage(message)" class="glyphicon glyphicon-trash pull-right" style="margin-top: 4px; cursor: pointer;"></i>
        </div>
      </form>
    </div>
    
    <div class="message-row-read row" style="cursor: pointer;" ng-repeat="message in msgs.messages" ng-click="msgs.displayMessage(message)">
      <div class="col-lg-1">
        <img ng-src="{{message.sender.photo}}" class="linkedin-photo" height="40" width="40" alt="" />
      </div>
      <div class="col-lg-11">
        <strong><p> {{message.sender.name}} </p></strong>
        <p ng-show="!message.full_message"> {{message.body | cut:true:100:'...'}} </p>
        <p ng-show="message.full_message"> {{message.body}} </p>
      </div>
    </div>
  </div>
</div>
