<%= render 'layouts/alerts' %>
<%= form_for @department, url: admin_departments_path do |f| %>

<div class="col-lg-6">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
</div>

<% end %>
