<div class="private-network-section">
  <h4 class="text-center a82cff3">Your private Sales Acceleration Network</h4>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <%= email_image_tag 'magnifying_glass.png' %>
      </td>
    </tr>
  </table>
</div>
<div class="email-padding">
  <h1 class="text-center">Peer Nation is here!</h1>
  <p>Hi <%= @name %>,</p>
  <p>We appreciate your interest in Peer Nation and we look forward to you joining our private network. We will notify you as soon as we are up and running and ready to accept knew members into our community. In the meantime, please feel free to share Peer Nation with sales professionals and consultants who you value and respect.</p>
  <p>Peer Nation is creating a private community of sales professionals, consultants, and business development executives who understand the value of building mutually beneficial business relationships. Our goal is simple: connect peers who can mutually benefit from each other’s account relationships and company insights to accelerate their sales process or consulting engagement.</p>
  <p>To join you must be a sales professional, consultant, business development or sales executives who has established relationships within the fortune 1000 global companies and agencies. Members are selected based on their ability to contribute to the overall community.</p>
  <p>The most productive sales acceleration network is coming soon.</p>

  <p>Sincerely,</p>
  <p>Member Success Team</p>
  <p>peernationteam@peernation.co</p>
  <p class="text-center"><a href="" class="text-center main-request-button">Request Membership</a></p>
</div>
