<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<div class="cubed" ng-controller="TargetsController as target">
  <div class="col-lg-10 col-lg-offset-1" ng-controller="MainSearchController">
    <% if current_user.target_accounts.size >= 5 %>
      <div class="alert alert-warning">
        You are currently at or over the 5 Target company limit. You can continue adding companies, but they will not appear in your profile.
      </div>
    <% end %>

    <%= render 'layouts/alerts' %>
    <div class="alert alert-success" ng-cloak ng-if="target.saved">
      <button type="button" class="close" aria-label="Close"><span ng-click="target.hideAlert()" aria-hidden="true">&times;</span></button>
      <ul class="list-unstyled">
        <li>{{target.saved}}</li>
      </ul>
    </div>
    <div class="alert alert-danger" ng-cloak ng-if="target.hasErrors">
      <button type="button" class="close" aria-label="Close"><span ng-click="target.hideAlert()" aria-hidden="true">&times;</span></button>
      <ul class="list-unstyled">
        <li ng-repeat="error in target.errors track by $index">{{error}}</li>
      </ul>
    </div>
      <% if current_user.submitted %>
        <h2 class="text-center white-text">Add companies to your target list</h2>
      <% else %>
        <h2 class="text-center white-text">Create your target account</h2>
      <% end %>
    <h4 class="text-center white-text">Add companies you would like your peers to help you with</h4>
    <div class="text-center">
      <img ng-src="{{logo}}" ng-if="logo" width="100px" alt="" />
    </div>
    <div class="center sign-up-form">
      <form name="portfolioForm" class="form-horizontal" style="margin-top: 20px;">
        <div class="form-group">
          <input type="text" ng-model="target_account.company" typeahead-select-on-blur="true" typeahead-on-select="target.setCompanyInfo($item)" typeahead-loading = 'loadingCompanies' uib-typeahead = 'company.name for company in getCompanies($viewValue)' typeahead-no-results = "noResults" class="portfolio-input my-input" placeholder="What company would you like help with?" autocomplete="off">
          <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <p>Company not in our database? Click <a href="#" ng-click="target.addCompanyInfo()">here to add it</a></p>
          </div>
        </div>

        <div ng-hide="!target.addACompany">
          <div>
            <label for="">Industry</label>
            <select name="" class="form-control my-select" multiple="multiple" ng-model="target_account.industry_ids">
              <% Industry.all.order(name: :asc).each do |ind| %>
                <option value="<%= ind.id %>"><%= ind.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-lg-4">
            <label for="">City</label>
            <input type="text" class="city-input" ng-model="target_account.city">
          </div>
          <div class="col-lg-2">
            <label for="">State</label>
            <select name="" class="form-control state" ng-model="target_account.state">
              <% @states.each do |state| %>
                <option value="<%= state %>"><%= state %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group">
          <select class="form-control" id="department-select" multiple="multiple" ng-model="target_account.department_ids">
            <% Department.all.order(name: :asc).each do |dep| %>
              <option value="<%= dep.id %>"><%= dep.name %></option>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="industry-select" multiple="multiple" ng-model="target_account.contact_level_ids">
            <% ContactLevel.all.each do |contact| %>
            <option value="<%= contact.id %>"><%= contact.name %></option>
            <% end %>
          </select>
        </div>

        <div class="text-center">
          <a class="white-text" href="#" ng-click="target.updateTarget(target_account)">Add More</a>
          <div class="sign-up-form-button">
            <% if current_user.submitted %>
              <a href="" ng-click="target.next(target_account)" class="final-button">Profile</a>
            <% else %>
              <a href="" ng-click="target.next(target_account)" class="final-button">Next</a>
            <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#department-select").select2({
      placeholder: 'Select departments that your contact works in'
    });

    $("#industry-select").select2({
      placeholder: 'Select contact level'
    });
  });
</script>
