<table class="table table-striped">
  <thead>
    <tr>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, edit_company_path(company.id) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
