<div class="notification-page" ng-controller="NotificationsController as notes">
  <div class="row">
    <div class="alert alert-success col-lg-12" ng-if="notes.noteDeleted">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>{{notes.noteDeleted}}</p>
    </div>
    <div class="alert alert-danger col-lg-12" ng-if="notes.notDeleted">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>{{notes.notDeleted}}</p>
    </div>
  </div>
  <div class="row">
    <h3><i class="glyphicon glyphicon-bell"></i> Notifications</h3>
    <div class="col-lg-12" ng-repeat="note in notes.notifications | limitTo: notes.noteLimit track by note.id">
      <div class="notification-row row">
        <ul class="list-inline col-lg-9 list-unstyled">
          <li><i class="glyphicon glyphicon-{{note.glyphicon}}"></i></li>
          <li><img ng-src="{{note.photo}}" class="linkedin-photo" width="40" height="40" alt=""></li>
          <li>{{note.text}}</li>
        </ul>
        <ul class="col-lg-3 list-inline list-unstyled notification-buttons">
          <li><a href="{{note.link}}" class="notification-button">View</a></li>
          <li ng-click="notes.deleteNotification(note.id)"><a href="" class="notification-delete">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <a href="#" class="load-more" ng-click="notes.olderNotifications()"><i class="glyphicon glyphicon-chevron-down"></i>Older Notifications</a>
  </div>
</div>
