  <div class="col-lg-4 text-center">
    <a href="<%= company_path(portfolio.company.id) %>"><%= portfolio.company.name %></a>
  </div>
  <div class="col-lg-2">
    <ul class="list-unstyled">
      <% portfolio.company.comp_industries.each do |ind| %>
      <li><%= ind.name %></li>
      <% end %>
    </ul>
  </div>
  <% if portfolio.class.name == "PortfolioAccount" %>
  <div class="col-lg-2">
    <ul class="list-unstyled">
      <% portfolio.departments.each do |dep| %>
        <li><%= dep.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-2">
    <ul class="list-unstyled">
      <% portfolio.contact_levels.each do |contact| %>
        <li><%= contact.name %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-lg-2">
    <% if request.env['PATH_INFO'] != '/review' %>
      <span ng-if="showPortfolio">
    <% end %>
    <% if @member.nil? || current_user == @member %>
    <ul class="list-unstyled">
      <li style="margin-bottom: 10px;"><a href="<%= edit_portfolio_path(portfolio.id) %>" class="profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
      <li><a href="<%= portfolio_path(portfolio.id) %>" data-method="delete" class="profile-link"><i class="fa fa-times"></i> Delete</a></li>
    </ul>
    <% end %>
    </span>
  </div>
