<div ng-if="success" class="alert alert-notice">
  {{success}}
  <i class="fa fa-spinner fa-spin text-center" style="font-size:24px"></i>
</div>
<div ng-if="errors" class="alert alert-danger">
  <ul class="list-unstyled" ng-repeat="error in errors">
    <li>{{error}}</li>
  </ul>
</div>
<button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>

<div class="row">
  <form action="">
    <div class="col-lg-6">
      <div class='form-group'>
        <input type="text" placeholder="Full Name" class="form-control" ng-model="user.full_name">
      </div>
      <div class="form-group">  
        <input type="text" placeholder="Username" class="form-control" ng-model="user.anonymous_username">
      </div>
      <div class="form-group">  
        <input type="text" placeholder="Role" class="form-control" ng-model="user.role">
      </div>
      <div class="row form-group">
        <div class="col-lg-8">
          <input type="text" placeholder="City" class="form-control" ng-model="user.city">
        </div>
        <div class="col-lg-4">
          <select type="text" class="form-control" ng-options="state as state for state in states" ng-model="user.state"></select>
        </div>
      </div>
    </div>
    <div class="col-lg-12" ng-controller="AvatarController">
      <div class="avatar-button">
        <ul class="list-unstyled list-inline">
          <li><a ng-click="showAvatars()" href="">Select Avatar</a></li>
          <li ng-if="user.avatar == null"><img src="<%= asset_path('select_avatar.png') %>" id="avatar-image" alt="" /></li>
          <li ng-if="user.avatar != null"><img ng-src="{{user.avatar}}" id="avatar-image" width="100" alt=""/></li>
          <div id="avatar_url" data-url="<%= current_user.avatar %>"></div>
        </ul>
      </div>
      <div ng-repeat="avatar in avatars" class="col-lg-3 col-lg-15">
        <img id="avatar-{{avatar.id}}" ng-src="{{avatar.image.url}}" class="avatar-image" ng-class="{'selected-avatar-modal': avatar.selected}" ng-click='assignAvatar(user, avatar, image.image.url, image.id)' alt="">
        <div ng-show="avatar.selected" class="green-check" style="margin-left: 33px; background-image: url('<%= asset_path('green_check.png') %>');"></div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <a href="#" ng-click="closeModal()" class="pull-left">CANCEL</a>
  <div class="center-avatar-button">
    <button type="button" ng-click="updateUserModal(user)" class="avatar-select-button">Update</button>
  </div>
</div>
<%= javascript_include_tag 'avatar' %>