<div ng-if="modal.success" class="alert alert-notice">
  {{modal.success}}
  <i class="fa fa-spinner fa-spin text-center" style="font-size:24px"></i>
</div>
<form action="">
  <div class="form-group">
    <label for="">Select Industries</label>
    <div style="height: 150px; overflow-x:hidden">
    <ul class="list-unstyled" ng-repeat="industry in modal.industries">
      <li> <input type="checkbox" ng-click="modal.handleIndustry(industry.id)" ng-checked="modal.assigned(industry.id)"> {{industry.name}}</li>
    </ul>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#" ng-click="modal.close()" class="pull-left">CANCEL</a>
    <div class="center-avatar-button">
      <button type="button" ng-click="modal.updateIndustries()" class="avatar-select-button">Update</button>
    </div>
  </div>
</form>
