<div class="row company-page-header-padding">
  <div class="col-lg-12">
    <a href="<%= company_path(company.id) %>" id="thumbnail-link">
      <div class="thumbnail text-center">
        <div class="logo-<%= company.image_size %>-class">
          <img src="<%= company.logo.url %>" width="100px" alt="" />
        </div>
        <div class="position-company-info">
          <div class="thumbnail-border"></div>
          <h5><%= company.name %></h5>
          <h6><%= company.city + ", " + company.state %></h6>
        </div>
        <ul class="list-inline list-unstyled bottom-thumbnail">
          <li><i class="glyphicon glyphicon-user"></i><%= company.num_of_users %></li>
          <li><i class="fa fa-comments"></i><%= company.num_of_comments %></li>
        </ul>
      </div>
    </a>
  </div>
</div>
