<div class="row">
  <%= render 'layouts/alerts' %>
<%= form_for(current_user, url: update_password_path(current_user), html: {method: :patch} ) do |f| %>
  <div class="col-lg-6">
    
    <%= f.label :password %>
    <em>(8 characters minimum)</em> <br />
    <%= f.password_field :password, autocomplete: "off", class: "my-input" %>
    
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "my-input" %>
    
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'my-input' %>
  </div>
  <div class="col-lg-12 sign-up-form-button">
    <%= f.submit "Update", class: "" %>
  </div>
<% end %>

</div>

<%= javascript_include_tag 'avatar' %>
