<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<div class="cubed">
  <div class="center sign-up-form">
    <%= form_for(current_user, url: {action: 'create_profile'}, method: :post, html: {class: 'form-horizontal'}) do |f|%>
      <div class="form-group">
        <%= f.text_field :role, class: 'form-control', placeholder: 'Your current role' %>
      </div>

      <div class="form-group">
        <%= f.text_field :currently_sell, class: 'form-control', placeholder: 'What do you currently sell?' %>
      </div>

      <div class="form-group">
        <%= f.fields_for :target_industries do |ind| %>
          <!-- focus on -->
          <%= ind.select :industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.target_industries.map(&:id)), {}, {class: 'form-control', id: 'focus-on', multiple: true} %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.fields_for :industries do |ind| %>
          <!-- expert on -->
          <%= ind.select :industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.industries.map(&:id)), {}, {class: 'form-control', id: 'expert-in', multiple: true} %>
        <% end %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-8">
            <%= f.text_field :city, class: 'form-control' %>
          </div>

          <div class="col-sm-4">
            <%= f.select :state, options_for_select(@states, current_user.state), {}, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="text-center sign-up-form-button">
        <%= f.submit 'Finish' %>
      </div>

    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#focus-on").select2({
      placeholder: 'What industries are you focused on?'
    });

    $("#expert-in").select2({
      placeholder: 'What industries are you an expert in?'
    });
  });
</script>
