<%= render 'layouts/alerts' %>
<div ng-controller="ApplicationController">
<div id="target" data-url="<%= params[:target] %>"></div>

  <div class="alert alert-success" ng-cloak ng-if="saved">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>Successfully Updated!</h4>
  </div>
  <div class="alert alert-danger" ng-cloak ng-if="hasErrors">
    <h4 ng-repeat="error in errors">{{error}}</h4>
  </div>
  <div class="row" ng-cloak>
    <div class="col-lg-3">
      <div id="profile-header-box">
        <div class="row">
          <div class="col-lg-12">
            <a href="" ng-click="openUserForm(user, 'lg')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit Personal</a>
            <script type="text/ng-template" id="userForm.html">
              <%= render 'edit_info' %>
            </script>
            <script type="text/ng-template" id="industriesFocusedOn.html">
              <%= render 'industries_focused_on' %>
            </script>
            <script type="text/ng-template" id="departmentsSellTo.html">
              <%= render 'departments_sell_to' %>
            </script>
          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <img ng-show="peer" class="linkedin-photo" ng-src="{{user.linkedin_photo}}" width="50px" height="50px" alt="" />
            <img ng-show="anonymous" class="linkedin-photo" ng-src="{{user.avatar}}" width="50px" height="50px" alt="" />
          </div>
          <ul class="list-unstyled col-lg-8">
            <h4 ng-show="peer"><li>{{user.full_name}}</li></h4>
            <h4 ng-show="anonymous"><li>{{user.anonymous_username}}</li></h4>
            <a ng-show="user.anonymous_username == null" tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-content="Click Edit Personal to create an anonymous username">Create a username</a>
            <li >{{user.role}}</li>
            <li>{{user.city}}</li>
          </ul>

          <div class="col-lg-12" style="margin-top: 20px;">
            <input type="text" ng-show="editorEnabled" class="form-control" ng-model="user.linkedin_url">
            <a ng-click="showPeer()" class="linkedin-button" href="#"> Peer Profile </a>
            <a ng-click="showAnonymous()" class="message-button" href="" style="margin-left: 2px;">Anonymous Profile </a>
          </div>
        </div>
      </div>

      <div id="profile-side-panel">
        <button ng-if="editPosition || editSells || editAbout" ng-click="updateUser(user)" class="btn btn-default" style="background: #209fd9; color: #fff;">Save</button>
        <ul class="list-unstyled clearfix">
          <li>
            <h4 ng-show="user.position != null" class="header-black">Current Position<a href="" ng-click="enableEditor('position')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <h4 ng-show="user.position == null" class="header-black" tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-content="What is your position at your company?">Current Position<a href="" ng-click="enableEditor('position')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <p ng-show="!editPosition">{{user.position}}</p>
            <select ng-show="editPosition" ng-options="position as position for position in positions" ng-model="user.position" class="form-control"></select>
          </li>
          <li>
            <h4 class="header-black" ng-show="user.currently_sell != null">Currently Sells<a href="" ng-click="enableEditor('sells')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <h4 class="header-black" ng-show="user.currently_sell == null" tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-content="What do you sell at your company?">Complete Currently Sell<a href="" ng-click="enableEditor('sells')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <p ng-show="!editSells">{{user.currently_sell}}</p>
            <input ng-show="editSells" type="text" ng-model="user.currently_sell" class="form-control">
          </li>
          <li ng-controller="UserIndustriesController as industry">
            <h4 class="header-black">Industries Focused on<a href="#" ng-click="industry.addIndustry()" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <p ng-repeat="industry in industry.user_industries">{{industry.name}}</p>
          </li>
          <li ng-controller="UserDepartmentsController as department">
            <h4 class="header-black">Primarily sells to these departments<a href="#" ng-click="department.addDepartment()" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <p ng-repeat="department in department.user_departments">{{department.name}}</p>
          </li>
          <li>
            <h4 class="header-black" ng-show="user.summary != null">About Me<a href="" ng-click="enableEditor('about')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <h4 class="header-black" ng-show="user.summary == null" tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-content="Tell us a little more about yourself">About Me<a href="" ng-click="enableEditor('about')" style="text-transform: none;" class="pull-right profile-link"><i class="fa fa-pencil-square-o"></i> Edit</a></h4>
            <p ng-show="!editAbout">{{user.summary}}</p>
            <textarea ng-show="editAbout" class="form-control" name="" cols="30" rows="4" ng-model="user.summary" class="form-control"></textarea>
          </li>
          <li>
            <h4 class="header-black">Peer Network</h4>
            <p> <%= current_user.peers.size %> Peers </p>
          </li>
        </ul>
        <input type="submit" ng-show="editorEnabled" ng-click="updateUser(user)" class="btn btn-default" value="Update">
      </div>

    </div>

    <div class="col-lg-9">
      <ul class="portfolio-tabs list-unstyled">
        <li ng-class="{'active-tab': showPortfolio, 'inactive-tab': !showPortfolio}" ng-click="showTab('portfolio')"><a href="#"><i><%= current_user.portfolio_accounts.size %></i> Portfolios</a></li>
        <li ng-class="{'active-tab': showTargets, 'inactive-tab': !showTargets}" ng-click="showTab('targets')"><a href="#"><i><%= current_user.target_accounts.size %></i> Targets</a></li>
        <% if current_user.approved? %>
          <a class="text-center referral-button" style="margin-left: 20px;" href="#" data-toggle="modal" data-target="#referralModal">Invite Colleagues</a>
          <%= render 'layouts/referral_form' %>
        <% end %>
        <a href="<%= new_portfolio_path %>" ng-if="showPortfolio" class="pull-right"><li id="add-new-company">Add New Company</li></a>
        <a href="<%= target_new_path %>" ng-if="showTargets" class="pull-right"><li id="add-new-company">Add New Target</li></a>
      </ul>
    </div>

    <div class="col-lg-9">

      <div ng-show="showPortfolio" ng-cloak>
        <div class="row">
          <div class="col-lg-12 company-header-gray">
            <h4 class="col-lg-4">Company</h4>
            <h4 class="col-lg-2">Industry</h4>
            <h4 class="col-lg-2">Department</h4>
            <h4 class="col-lg-2">Contact</h4>
          </div>
        </div>

        <% current_user.portfolio_accounts.each do |portfolio| %>
          <div class="col-lg-12 portfolio-company-row">
            <%= render partial: 'companies', locals: {portfolio: portfolio} %>
          </div>
        <% end %>
      </div>

      <div class="row" ng-show="showTargets" ng-cloak>
        <% current_user.target_accounts.each do |portfolio| %>
          <div class="col-lg-3">
            <%= render partial: 'target_companies', locals: {company: portfolio.company} %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
