<div class="cubed">
  <div class="text-center submission-content">
    <img src="<%= asset_path('logo.png') %>" width="150" alt="">
    <h3>Welcome to Peer Nation</h3>
    <h4>Your application is under review. You will be emailed shoud you be approved</h4>
    
    <a href="<%= profile_path %>" class="text-center">Finish</a>
  </div>
</div>
<div class="submission-prospecting">
  <h3 class="text-center">Stop Prospecting and Start Networking with Peers</h3>
  <img src="<%= asset_path('referral-line.png') %>" alt="" height="500" id="referral-line">
  <img src="<%= asset_path('landing_page/30.png') %>" alt="" id="submitted-30">
  <p id="text-30">MINIMIZE prospecting efforts by networking with peers who already have a relationship with your target accounts</p>
  <img src="<%= asset_path('landing_page/108.png') %>" alt="" id="submitted-108">
  <p id="text-108">ACCESS valuable member referrals that can drastically accelerate your sales proccess</p>
  <img src="<%= asset_path('landing_page/68.png') %>" alt="" id="submitted-68">
  <p id="text-68">MAXIMIZE your sales production through peer-to-peer networking and collaboration</p>
  <img src="<%= asset_path('landing_page/45.png') %>" alt="" id="submitted-45">
  <p id="text-45">EXPAND your account reach to identify more opportunities faster</p>
</div>

<div class="finish-button text-center">
</div>
