<ul class="list-unstyled">
<% @applicants. each do |applicant| %>
  <li> <%= applicant.full_name %> </li>
  <li> <%= applicant.email %> </li>
<% end %>
</ul>

<%= form_tag(admin_applications_path, method: "get") do %>
  <%= text_field_tag(:name, params[:name], placeholder: "Search Members") %>
  <%= label_tag 'Joined' %>
  <%= select_date(Date.today, class: "form-control") %>
  <%= submit_tag("Search", class: "btn btn-default") %>
<% end %> 
