<%= @applicant.first_name + " " + @applicant.last_name %>

<% if !@applicant.approved? %>
  <%= form_tag "/admin/applications/#{@applicant.id}", method: :put do %>
  <%= submit_tag "Approve" %> 
  <%= submit_tag "Deny" %>
<% end %>
<% else %>
  <p>show the applicants info here along with a button to revoke their account</p>
<% end %>
