<div class="row text-center" style="margin-bottom: 20px;">
  <div class="col-lg-3 col-md-3">
    <img src="<%= asset_path("landing_page/68.png") %>" alt="">
  </div>
  <div class="col-lg-3 col-md-3">
    <img src="<%= asset_path("landing_page/30.png") %>" alt="">
  </div>
  <div class="col-lg-3 col-md-3">
    <img src="<%= asset_path("landing_page/108.png") %>" alt="">
  </div>
  <div class="col-lg-3 col-md-3">
    <img src="<%= asset_path("landing_page/45.png") %>" alt="">
  </div>
</div>

<div class="row text-center start-networking-stats">
  <div class="col-lg-3 col-md-3">
    <p>The average sales professional spends 68% of their time prospecting for new business</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <p>Referral leads convert 30% higher than leads generated from other channels</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <p>10.8% of sales professionals who have closed 5 or more deals attributed to leveraging their network</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <p>Sales professionals who leverage their networks generate 45% more opportunities</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 text-center">
    <%= render 'sixty_eight' %>
  </div>
  
  <div class="col-lg-3 col-md-3 text-center">
    <%= render 'thirty' %>
  </div>
  
  <div class="col-lg-3 col-md-3 text-center">
    <%= render 'ten_point_eight' %>
  </div>
  
  <div class="col-lg-3 col-md-3 text-center">
    <%= render 'forty_five' %>
  </div>
</div>

<div class="row start-networking-upcase">
  <div class="col-lg-3 col-md-3 text-center">
    <p>Minimize your prospecting efforts by networking with peers who already have a relationship with your target accounts</p>
  </div>
  <div class="col-lg-3 col-md-3 text-center">
    <p>Access valuable member referrals that can drastically accelerate your sales</p>
  </div>
  <div class="col-lg-3 col-md-3 text-center">
    <p>Maximize your network by having a clear line of sight into members' relationships with companies</p>
  </div>
  <div class="col-lg-3 col-md-3 text-center">
    <p>Expand your peer network to identify more opportunities faster</p>
  </div>
</div>
