<svg id="svg" viewbox="0 0 100 100" height="180" class="text-center">
  <circle cx="50" cy="50" r="45" fill-opacity="0"/>
    <path fill="none" stroke-linecap="square" stroke-width="4" stroke="#8c9fbd"
      stroke-dasharray="27,500"
      d="M50 10
        a 40 40 0 0 1 0 80
        a 40 40 0 0 1 0 -80"/>
     <path fill="none" stroke-linecap="square" stroke-width="4" stroke="#2c3d59" stroke-dashoffset="-2.3em"
      stroke-dasharray="214,500"
      d="M50 10
        a 40 40 0 0 1 0 80
        a 40 40 0 0 1 0 -80"/>
     <path fill="none" stroke-linecap="round" stroke-width="4" stroke="#42bdff" stroke-dashoffset="-17.8em"
       stroke-dasharray="1,250.2"
       d="M50 10
         a 40 40 0 0 1 0 80
         a 40 40 0 0 1 0 -80"/>
     <path fill="none" stroke-linecap="round" stroke-width="4" stroke="#42bdff" stroke-dashoffset="-2em"
       stroke-dasharray="1,250.2"
       d="M50 10
         a 40 40 0 0 1 0 80
         a 40 40 0 0 1 0 -80"/>
  <text fill="#fff" x="50" y="50" text-anchor="middle" dy="7" font-size="15" font-weight="200">10.8%</text>
</svg>
