<div class="row text-center">
  
  <div class="row">
    <div class="col-xs-12">
      <img src="<%= asset_path("landing_page/68.png") %>" alt="">
    </div>
    <div class="col-xs-12 xs-start-networking-stats" style="margin-top: 10px;">
      <p>The average sales professional spends 68% of their time prospecting for new business</p>
    </div>
    <div class="col-xs-12" style="margin-top: 10px;">
      <%= render 'sixty_eight' %>
    </div>
    <div class="col-xs-12 text-center xs-start-networking-upcase">
      <p>Minimize your prospecting efforts by networking with peers who already have a relationship with your target accounts</p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 40px;">
    <div class="col-xs-12">
      <img src="<%= asset_path("landing_page/30.png") %>" alt="">
    </div>
    <div class="col-xs12 xs-start-networking-stats">
      <p>Referral leads convert 30% higher than leads generated from other channels</p>
    </div>
    <div class="col-xs-12" style="margin-top: 10px;">
      <%= render 'thirty' %>
    </div>
    <div class="col-xs-12 text-center xs-start-networking-upcase">
      <p>Access valuable member referrals that can drastically accelerate your sales</p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12">
      <img src="<%= asset_path("landing_page/108.png") %>" alt="">
    </div>
    <div class="col-xs-12 xs-start-networking-stats">
      <p>10.8% of sales professionals who have closed 5 or more deals attributed to leveraging their network</p>
    </div>
    <div class="col-xs-12" style="margin-top: 10px;">
      <%= render 'ten_point_eight' %>
    </div>
    <div class="col-xs-12 text-center xs-start-networking-upcase">
      <p>Maximize your peer network by having a clear line of sight into members' relationships with companies</p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12">
      <img src="<%= asset_path("landing_page/45.png") %>" alt="">
    </div>
    <div class="col-xs-12 xs-start-networking-stats">
      <p>Sales professionals who leverage their networks generate 45% more opportunities</p>
    </div>
    <div class="col-xs-12" style="margin-top: 10px;">
      <%= render 'forty_five' %>
    </div>
    <div class="col-xs-12 text-center xs-start-networking-upcase">
      <p>Expand your network to identify more opportunities faster</p>
    </div>
  </div>
  
</div>
