<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>

<div class="front-image">
  <div class="front-image-overlay">
    <div class="container">
      <div class="row front-page-wrapper">
        <img class="pull-left" src="<%= asset_path("logo.png") %>" alt="" />
        <a href="<%= new_user_registration_path %>" class="railway-font request-text-link pull-right">Request Membership</a>
        <a href="<%= login_path %>" class="railway-font pull-right front-sign-in-button black-blue-bordered-button">SIGN IN</a>

        <div class="sales-acceleration">
          <h1 class="questrial-font text-center">Sales Acceleration Network</h1>
          <h4 class="railway-font text-center">Accelerate sales through peer-to-peer networking</h4>
          <a href="<%= user_omniauth_authorize_path(:linkedin) %>" class="railway-font btn margin-for-main-request-button main-request-button">Request Membership</a>
          <div style="margin-bottom: 100px;">
            <h5 class="railway-font text-center">Harness the knowledge of peers to gain access to account insights, contacts and referrals faster.</h5>
            <!-- <a href="" class="railway-font pull-right black-blue-bordered-button">READ OUR STORY</a> -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="scroll-acceleration-network scroll-arrow">
    <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
  </div>
</div>

<div class="easy-to-find-and-build">
  <div class="row text-center">
    <h1 class="questrial-font">Easy, Relevant and Productive</h1>
    <h4 class="railway-font gray-text squeeze-text text-center">Easily find and build mutually beneficial business connections with peers who already have established relationships with your target accounts</h4>
  </div>

  <div class="row">

    <div class="col-lg-3 text-center col-lg-offset-1">
      <img src="<%= asset_path("landing_page/briefcase.png") %>" alt="" />
      <h2 class="questrial-font">Search</h2>
      <h5 class="railway-font gray-text squeeze-search-find">Search target companies or departments</h5>
    </div>

    <div class="col-lg-3 text-center lower-find-connect">
      <img src="<%= asset_path("landing_page/briefcase_to_person.png")%>" alt="" />
      <h2 class="text-center questrial-font">Find</h2>
      <h5 class="text-center gray-text squeeze-search-find railway-font">Find peers who already have a relationship with them</h5>
    </div>

    <div class="col-lg-3 lower-find-connect text-center">
      <img src="<%= asset_path("landing_page/circular_people.png") %>" alt="" />
      <h2 class="questrial-font">Connect</h2>
        <h5 class="railway-font gray-text squeeze-search-find">Connect and access insights, contacts and referrals</h5>
    </div>

    <div style="margin-top: 60px;" class="col-sm-12">
      <h4 class="railway-font gray-text text-center">See how PeerNation can help you accelerate sales and eliminate wasteful prospecting </h4>
    </div>
  </div>

  <div class="scroll-easy-to-find scroll-arrow">
    <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
  </div>
</div>

<div class="start-networking">
  <div class="text-center">
    <h1 class="text-center questrial-font">Stop Prospecting and Start Networking with Peers</h1>
    <h4 class="railway-font"> Proven approach that drastically impacts your sales efforts </h4>
  </div>
  
  <div class="container">
    <div class="row">
      
      <div class="hidden-xs hidden-sm">
        <%= render 'large_percentages' %>
      </div>
      
      <div class="hidden-xs hidden-md hidden-lg">
        <%= render 'sm_percentages' %>
      </div>
      
      <div class="hidden-md hidden-lg hidden-sm">
        <%= render 'xs_percentages' %>
      </div>
      
    </div>
  </div>
  <div class="scroll-stop-prospecting scroll-arrow">
    <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
  </div>
</div>

<div class="fortune-5000-companies">
  <h1 class="text-center questrial-font">Quickly Penetrate The Fortune 1000 Companies</h1>
  <h4 class="text-center railway-font squeeze-text">Leverage your network to navigate and penetrate companies. Gain insights on key stakeholders, major initiatives, RFPs and sales approaches</h4>
  <div class="landing-page-company-logos text-center">
    <ul class="list-inline hidden-xs">
      <li><img src="<%= asset_path("landing_page/apple_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/walgreens_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/samsung_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/linked_in_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/pepsi_logo.png") %>" alt="" id="apple-logo" /></li>
    </ul>
  </div>
  
  <div class="hidden-lg hidden-md hidden-sm text-center vertical-company-logos">
    <ul class="list-unstyled">
      <li><img src="<%= asset_path("landing_page/apple_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/walgreens_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/samsung_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/linked_in_logo.png") %>" alt="" id="apple-logo" /></li>
      <li><img src="<%= asset_path("landing_page/pepsi_logo.png") %>" alt="" id="apple-logo" /></li>
    </ul>
  </div>
  
  <img src="<%= asset_path("landing_page/us_map.png") %>" class="us-background us-background-sm us-background-xs" alt="" id="apple-logo" />
  <div class="scroll-fortune-5000 scroll-arrow">
    <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
  </div>
</div>

<div class="personal-networking-assistant">
  <h1 class="text-center questrial-font">Meet Your Personal Social Networking Assistant</h1>
  <h4 class="text-center railway-font">We automatically introduce you to peers who can help you grow your sales</h4>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 hidden-sm hidden-xs">
      <img class="col-lg-12 col-md-12" src="<%= asset_path('landing_page/magnifying_glass.png') %>" alt="" />
    </div>
    <div class="col-lg-5 hidden-sm hidden-xs col-md-5">
      <ul class="list-unstyled railway-font assistant-list">
        <li> <i class="fa fa-arrow-circle-right"></i>Easily find members linked to your target companies and departments.</li>
        <li> <i class="fa fa-arrow-circle-right"></i>Member introductions are based on mutually beneficial account linkages to connect you to the most relevant members.</li>
        <li> <i class="fa fa-arrow-circle-right"></i>Gain access to rich insights, initiatives, RFPs, and contact information.</li>
        <li> <i class="fa fa-arrow-circle-right"></i>Receive valuable coaching from members on sales strategy and approach.</li>
        <!-- <li> <i class="fa fa-arrow-circle-right"></i>Accelerate sales process with </li> -->
      </ul>
    </div>
    <div class="hidden-lg hidden-md">
      <div class="text-center">
        <img class="" src="<%= asset_path('landing_page/magnifying_glass.png') %>" alt="" width="400"/>
      </div>
      <ul class="list-unstyled col-md-6 col-xs-offset-2 railway-font assistant-list">
        <li> <i class="fa fa-arrow-circle-right"></i>Easily find members linked to your target companies and departments </li>
        <li> <i class="fa fa-arrow-circle-right"></i>Member introductions are based on mutual beneficial account linkages to connect you to the most relevant members.</li>
        <li> <i class="fa fa-arrow-circle-right"></i>Gain visibility to rich insights, initiatives, RFPs, and contact information.</li>
        <li> <i class="fa fa-arrow-circle-right"></i>Receive valuable coaching from members on sales strategy and approach.</li>
      </ul>
    </div>
  </div>
  <div class="scroll-networking-assistant scroll-arrow">
    <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
  </div>
</div>

<div class="enterprise-deal">
  <div class="enterprise-deal-overlay text-center">
    <h1 class="questrial-font">Proven Approach</h1>
    <h2 class="questrial-font">I sold a $2.8 million enterprise deal.</h2>
    <h4 class="railway-font">I was prospecting into a target account for 6 months with little success. I connected with a peer who introduced me to a key stakeholder within the account and I was able to close a deal in 8 months. It works!</h4>
    <img src="<%= asset_path("landing_page/front_profile_logo.png") %>" alt="" />
    <p class="railway-font"> <i>Account Director, Market Services Company</i> </p>
    <div class="scroll-enterprise-deal">
      <img src="<%= asset_path('landing_page/scroll-arrow.png') %>" alt="" />
    </div>
  </div>
</div>

<div class="on-mission">
  <div class="text-center">
    <img src="<%= asset_path('logo-vertical.png') %>" alt="" />
    <h4 class="railway-font">We're on a mission to make your networking easier, more relavant and productive.</h4>
    <h1 class="questrial-font">Request Your Membership Today!</h1>
  </div>
  <a href="<%= user_omniauth_authorize_path(:linkedin) %>" class="btn railway-font main-request-button">Request Membership</a>
</div>

<footer id="front-footer">
  <div class="text-center footer-icons">

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter black-icon fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook black-icon fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin black-icon fa-stack-1x"></i>
    </span>

  </div>
  <div class="text-center copyright">
    <p class="railway-font">&copy Peer Nation <%= Date.today.year %>. All rights reserved.</p>
    <ul class="list-inline">
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </div>

</footer>
