<div ng-controller="RequestsController">
  <h3>Request you've made</h3>
  <% @requested_connections.each do |connection| %>
  <ul class="list-unstyled">
    <li><%= connection.full_name %></li>
  </ul>
  <% end %>
</div>
