<div class="alert alert-success" ng-if="targetAdded">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>{{targetAdded}}</p>
</div>
