  <div class="alert alert-success" ng-if="targetAdded">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>{{targetAdded}}</p>
  </div>
  <div class="alert alert-danger" ng-if="targetNotAdded">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul class="list-unstyled" ng-repeat="error in targetNotAdded">
      <li>{{error}}</li>
    </ul>
  </div>

  <div class="row" style="">
    <div class="col-lg-6">
      <label class="control-label" for="department">Department</label>
      <select class="form-control my-select" multiple="multiple" ng-model="target_account.department_ids">
        <% Department.all.order(name: :asc).each do |dep| %>
          <option value="<%= dep.id %>"><%= dep.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-lg-6">
      <label class="control-label" for="contact_levels">Contact Levels</label>
      <select class="form-control my-select" multiple="multiple" ng-model="target_account.contact_level_ids">
        <% ContactLevel.all.each do |contact| %>
        <option value="<%= contact.id %>"><%= contact.name %></option>
        <% end %>
      </select>
      <input value="true" type="hidden" name="portfolio_account[portfolio]" id="portfolio_account_portfolio">
      <input type="hidden" ng-model="target_account.company">
    </div>
  </div>

<div class="modal-footer" style="">
  <a href="#" class="pull-left" ng-click="cancel()">CANCEL</a>
  <button type="button" ng-click="updateTargetCompany(target_account)" class="create-target-button">Create</button>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.my-select').SumoSelect({placeholder: 'Select options from below'});
  });
</script>
