<%= form_for @company do |f| %>
  <%= f.text_field :name %>
  <%= f.file_field :logo %>
  <%= f.label :width %>
  <%= f.text_field :width %>
  <%= f.label :height %>
  <%= f.text_field :height %>
  <%= f.submit %>
<% end %>
