<%# stylesheet_link_tag 'select-multiple' %>
<%= render 'layouts/alerts' %>

<div id="bottom-of-page">
  <div class="row">
    <div ng-controller="CompaniesController">
      <script type="text/ng-template" id="targetForm.html">
        <%= render 'target_form' %>
      </script>
      <div class="col-lg-2">
        <h4 class="color-909090">Refine search</h4>
        <div class="company-page-header-padding">
          <div class="filter-header">
            <h5 class="header-232426">INDUSTRIES</h5>
          </div>
          <div class="industries-list">
            <ul class="list-unstyled" ng-cloak ng-repeat="industry in industries track by industry.id">
              <li>
                <input class="my-checkbox" ng-disabled="inputsDisabled" ng-change="searchByIndustry(industry)" ng-model="industry.checked" ng-value="industry.name" type="checkbox"> {{industry.name}}
              </li>
            </ul>
          </div>
          <div class="filter-header">
            <h5 class="header-232426">COMPANY LOCATION</h5>
          </div>
          <div class="">
            <input type="text" ng-disabled="inputsDisabled" placeholder="City, State" name="name" ng-model="locationSelected" id="location-search-form" typeahead-loading='loadingCities' typeahead-select-on-blur="true" typeahead-no-results="noResults" uib-typeahead="location for location in getLocation($viewValue) | limitTo:8" typeahead-on-select="searchByCity($item)" autocomplete="off" >
            <i ng-show="loadingCities" class="fa fa-spinner"></i>
            <div ng-show="noResults">
              <p class="fa fa-times" ng-click="clearCitySearch()">No Results Found</i></p>
            </div>
            <p ng-repeat="city in cities track by $index" class="pull-left" id="searched-cities" ng-cloak>{{city}} <i class="fa fa-times" ng-click="unselectCity(city)"></i></p>
          </div>
          <div class="col-lg-12 row">
            <button type="button" name="button" class="search-button" style="margin-top: 40px;" ng-click="clearSearch()">clear search</button>
          </div>
        </div>
      </div>
      <div class="col-lg-10" ng-cloak>
        <h4 class="ACADAF" ng-if="companies.length < numAllCompanies"><span class="header-232426">{{companies.length}} Companies</span> match your search</h4>
        <h4 class="ACADAF" ng-if="companies.length === numAllCompanies"><span class="header-232426">{{companies.length}} Companies</span></h4>
        <div class="row company-page-header-padding">
          <div ng-repeat="company in companies | limitTo: companyLimit track by company.id">
            <div class="col-lg-3">
              <i class="fa fa-bullseye bullseye" ng-click="addCompany(company, 'lg')"></i>
              <a ng-href="/companies/{{company.id}}" id="thumbnail-link">
                <div class="thumbnail text-center">
                  <div ng-class="{'logo-rectangle-class': isRectangleImage(company.width, company.height), 'logo-square-class': isSquareImage(company.width, company.height), 'logo-medium-class': isMediumImage(company.width, company.height)}">
                    <img ng-src="{{company.logo.logo.url}}" width="100px" alt="" />
                  </div>
                  <div class="position-company-info">
                    <div class="thumbnail-border"></div>
                    <h5>{{company.name}}</h5>
                    <h6>{{company.city + ", " + company.state}}</h6>
                  </div>
                  <ul class="list-inline list-unstyled bottom-thumbnail">
                    <li><i class="glyphicon glyphicon-user"></i>{{company.num_of_users}}</li>
                    <li><i class="fa fa-comments"></i>{{company.num_of_comments}}</li>
                  </ul>
                </div>
              </a>

            </div>
          </div>
        </div>
        <button class="btn btn-default" ng-show="companies.length > 20 && companyLimit < companies.length" ng-click="loadMore()" ng-cloak>Load more</button>
      </div>
    </div>
  </div>
</div>

<%# javascript_include_tag 'select-multiple' %>
