<%= stylesheet_link_tag 'select-multiple' %>
<div id="company-id" data-url="<%= params[:id] %>"></div>
<div id="show-posts" data-url="<%= params[:post] %>"></div>
<div ng-controller="CommentsController">
  <div class="row" ng-cloak>

    <div class="col-lg-12">
      <%= render 'target_alerts' %>
    </div>
    
    <script type="text/ng-template" id="targetForm.html">
      <%= render 'target_form' %>
    </script>
    
    <% if current_admin %>
      <p><%= link_to 'Edit', edit_company_path(@company.id) %></p>
    <% end %>
    <p> <strong><%= @company.portfolio_users.length %> members</strong> have this company in their Portfolio </p>

    <div class="col-lg-2">
      <div class="row thumbnail text-center">
        <i class="fa fa-bullseye bullseye-company-show" ng-click="open('lg')"></i>
        <div class="logo-<%= @company.image_size %>-class">
          <img src="<%= @company.logo.url %>" alt="" />
        </div>
        <div style="margin-top: 20px;">
          <div class="thumbnail-border"></div>
        </div>
        <h5><%= @company.name %></h5>
        <h6><%= @company.city + ", " + @company.state %></h6>
        <ul class="list-inline list-unstyled bottom-thumbnail">
          <li><i class="glyphicon glyphicon-user"></i><%= @company.num_of_users %></li>
          <li><i class="fa fa-comments"></i><%= @company.num_of_comments %></li>
        </ul>
      </div>

      <div class="row" ng-show="showPosts">
        <%= render 'comments/comment_search' %>
      </div>

      <div class="row" ng-show="showMembers">
        <%= render 'members/member_search' %>
      </div>

    </div>

    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-12">
          <ul class="pull-left portfolio-tabs list-unstyled">
            <li ng-class="{'active-tab': showMembers, 'inactive-tab': !showMembers}" ng-click="showTab('members')"><a href="#"><i class="glyphicon glyphicon-user" ng-cloak></i> Members ({{members.length}})</a></li>
            <li ng-class="{'active-tab': showPosts, 'inactive-tab': !showPosts}" ng-click="showTab('posts')"><a href="#"><i class="fa fa-comments"></i> Posts ({{posts.length}})</a></li>
          </ul>
        </div>
      </div>

      <div ng-show="showMembers">
        <div class="col-lg-12">
          <%= render 'members/members' %>
        </div>
      </div>

      <div ng-show="showPosts">
        <div class="alert alert-danger" ng-if="targetNotAdded">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="list-unstyled" ng-repeat="error in targetNotAdded">
            <li>{{error}}</li>
          </ul>
        </div>
        <%= render 'comments/form' if current_user || current_admin %>

        <div class="col-lg-12">
          
          <!-- This is where the angular comment comes in, just the once right after they post -->
          <% if current_user || current_admin %>
          <div ng-if="newComment" ng-cloak class="row ancestor-section">
            <div class="col-lg-1">
              <img src="<%= current_user.linkedin_photo if current_user %>" width="50" alt="" />
            </div>
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="pull-left"><%= current_user.full_name if current_user %></h5>
                  <p><i class="pull-right">{{comment.created_at | date:'MMM dd, yyyy'}}</i></p>
                </div>
                <div class="col-lg-12">
                  <p>{{comment.content}}</p>
                </div>
              </div>
            </div>
          </div>
          <%= nested_comments(@comments) %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_include_tag 'select-multiple' %>
