<div class="cubed">
  <div class="center text-center sign-in-form">
    <%= render 'layouts/alerts' %>
    <%= image_tag('logo-vertical-white.png', size: '150x65', style: 'margin-bottom: 20px;') %>

    <a class="btn btn-block btn-social btn-linkedin text-center" href="<%= user_omniauth_authorize_path(:linkedin) %>">
      Login with LinkedIn
    </a>

    <h2>Or</h2>
    <h4>Sign in with your username and password</h4>
    <h5>Once you are logged in, you can create a username and password in your account profile</h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group" style="color: white;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-login" %>
      </div>
    <% end %>


    <div style="margin-top: 30px;">
      <%= link_to 'Forgot Password?', new_user_password_path %>
    </div>

  </div>
</div>
