<h4>Hi <%= @user.first_name %></h4>
<p> You were approved to begin using Peer Nation you lucky duck.</p>
<p>Get in there and start making connections to bring home those sales. </p>

<p> Click the link to head over to <a target=_blank href=<%= @url %>>Peer Nation</a></p> </p>
