<h4>Hi <%= @user.full_name %></h4>

<p> We regrest to inform you that you have not been approved to join Peer Nation at this time. </p>

<p> We encourage you to keep building your sales rolodex and try us again in the future. </p>
