<% @member_requests.each do |member| %>
<ul class="list-unstyled">
  <li><%= member.name %></li>
  <li><%= member.email %></li>
  <li><a href="<%= admin_member_request_path(member.id) %>" class="btn btn-default" data-method="delete">Notify</a></li>

</ul>
<% end %>
