.navbar {
  position: relative;
  min-height: 50px;
  background-color: #000;
  border: none;
  color: #E1E1E1;
}

.email-nav {
  padding: 0 20px;
  list-style: none;
}

.a82cff3 {
  color: #82CFF3;
}

.text-center {
  text-align: center;
}

.private-network-section {
    background-color: #F8F8F8;
    padding: 40px 0;
    margin-top: -20px;
}

.main-request-button {
  position: relative;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  background: #3CBDF7;
  padding: 5px 25px;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.email-padding {
    padding: 0 40px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.email-icons > i {
    margin-right: 15px;
}

#privacy-policy {
    margin-top: 20px;
}

.pull-left {
  float: left;
  margin-top: 10px;
}

.peer-link {
  float: right;
  margin-top: 15px;
}

.peer-link > a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
}

.social-icons > li {
  display: inline-block;
  margin-right: 10px;
}
