body, html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.questrial-font {
  font-family: 'Questrial', sans-serif;
}

.railway-font {
  font-family: 'Raleway', sans-serif;
}

.request-text-link {
  font-size: .9em;
  color: white;
  margin-top: 5px;
  &:hover {
    text-decoration: none;
    color: darken(#fff, 10%);
  }
}

.front-image {
  //all images are stored in s3 but this - it takes too long to load it
  background-image: url(<%= asset_path('landing_page/front_cover.png') %>);
  width: 100%;
  height: 690px;
  z-index: -1;
}

.front-image-overlay {
  // background-color: #090712;
  background-color: #090720;
  width: 100%;
  height: 690px;
  opacity: .8;
}

.front-page-wrapper {
  padding-top: 20px;
  color: white;
}

.sales-acceleration {
  padding-top: 200px;
  h4 {
    color: #fff;
    font-size: 1.5em;
  }
  h1 {
    font-size: 4em;
  }
  h5 {
    font-size: 1.2em;
    color: #fff;
  }
}

.margin-for-main-request-button {
  margin-top: 50px;
  margin-bottom: 80px;
}

.main-request-button {
  position: relative;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  background: #3CBDF7;
  padding: 5px 25px;
  color: white;
  font-size: 1.5em;
  &:hover {
    background-color: darken(#3CBDF7, 10%);
    color: white;
  }
}

.black-blue-bordered-button {
  background-color: #000;
  padding: 5px 25px;
  border-radius: 30px;
  border-style: solid;
  border-color: #2F93C1;
  border-width: 1px;
  color: white;
  font-size: .7em;
  &:hover {
    text-decoration: none;
    color: darken(#2F93C1, 10%);
  }
}

.front-sign-in-button {
  margin-right: 30px;
}

.scroll-arrow {
  position: relative;
  left: 50%;
  margin-left: -14.5px;
  width: 210px;
}

.scroll-acceleration-network {
  bottom: 14.5px;
}

.scroll-easy-to-find {
  bottom: -14.5px;
}

.scroll-stop-prospecting {
  bottom: -64.5px;
}

.scroll-fortune-5000 {
  bottom: -64.5px;
}

.scroll-networking-assistant {
  bottom: -64.5px;
  z-index: 1;
}

.scroll-enterprise-deal {
  position: relative;
  z-index: 2;
  left: 45%;
  margin-left: -30.5px;
  bottom: -114.5px;
  width: 210px;
}

.easy-to-find-and-build {
  background-image: url(<%= asset_path("landing_page/grid_background.png") %>);
  padding-top: 80px;
  h1 {
    padding-bottom: 30px;
  }
  h4 {
    padding-bottom: 30px;
  }
}

.squeeze-text {
  width: 50%;
  margin: auto;
  line-height: 30px;
}

.squeeze-search-find {
  width: 60%;
  margin: auto;
  line-height: 20px;
}

.lower-find-connect {
  padding-top: 15px;
}

.start-networking {
  background: -webkit-linear-gradient(#343e5c, #345978); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#343e5c, #345978); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#343e5c, #345978); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#343e5c, #345978);
  color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 50px;
  h4 {
    padding: 20px 0;
    color: #50b4d9;
    margin-bottom: 80px;
  }
  p {
    line-height: 25px;
    color: #f0f0f0;
    font-weight: 100;
  }
  h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    line-height: 25px;
  }
}

.start-networking-stats {
  p {
    width: 80%;
    margin: auto;
  }
  margin-bottom: 20px;
}

.sm-start-networking-stats {
  p {
    width: 80%;
    margin: auto;
  }
}

.xs-start-networking-stats {
  p {
    width: 40%;
    margin: auto;
  }
}

.start-networking-upcase {
  margin-top: 10px;
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.xs-start-networking-upcase {
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 40%;
    margin: auto;
  }
}

.fortune-5000-companies {
  background-color: #070E1E;
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  h1, h4 {
    color: #fff;
  }
}

.margin-left-side-stats {
  margin-top: 100px;
}

.margin-within-right-side-stats {
  margin-top: 113px;
}

.margin-right-side-stats {
  margin-top: 50px;
}

.padding-for-sales-stat {
  padding-top: 40px;
  padding-bottom: 90px;
}

.us-background {
  z-index: 0;
  height: 300px;
  position: relative;
  margin-left: -225px;
  margin-top: -150px;
  left: 50%;
}

@media(max-width: 772px) {
  .us-background-sm {
    margin-top: -500px;
  }
}

@media(max-width: 475px) {
  .us-background-xs {
    width: 100%;
    padding-left: 10%;
  }
}

.landing-page-company-logos {
  margin-top: 100px;
  ul li {
    z-index: 1;
    position: relative;
    padding-right: 55px;
  }
}

.vertical-company-logos {
  margin-top: -50px;
  ul li {
    margin-bottom: 40px;
    z-index: 5;
    position: relative;
  }
}

.take-a-look {
  width: 20%;
  margin: auto;
}

#walgreens-logo {
  padding-top: 15px;
}

.personal-networking-assistant {
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url(<%= asset_path("landing_page/grid_background.png") %>);
  h4 {
    margin: 35px 0;
  }
}

.fa-arrow-circle-right {
  color: #58C5F7;
  margin-right: 20px;
}

.assistant-list {
  padding-left: 40px;
  padding-top: 40px;
  li {
    text-indent: -1.38em;
    margin-bottom: 12px;
    color: #909090;
    font-size: 1.1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.enterprise-deal {
  background: url(<%= asset_path("landing_page/wondering_people.png") %>) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  h4 {
    color: #fff;
  }
}

.member-request-form {
  padding-top: 50px;
}
.request-membership-picture {
  background: url(<%= asset_path('light_bulb.jpg') %>);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.request-membership-picture-overlay {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  background-color: #0d2736;
  color: white;
  opacity: .8;
}

.enterprise-deal-overlay {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #0d2736;
  color: white;
  opacity: .8;
  h4 {
    width: 50%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  img {
    padding-bottom: 50px;
  }
  p {
    color: #7DACC8;
  }
}

.on-mission {
  padding-top: 80px;
  padding-bottom: 50px;
  a {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h4 {
    margin-top: 30px;
  }
  h1 {
    margin-top: 30px;
  }
}

#front-footer {
  padding-top: 50px;
  background-color: #000;
  color: #5E5D5D;
  height: 250px;
}

// Form
.my-success {
  background-color: #0CD625;
}
.my-danger {
  background-color: #FF0000;
  border-radius: 0px;
}

.request-form {
  padding-left: 10px;
  background-color: #FCFDFE;
  height: 40px;
  border: none;
}

.email-input {
  border-left: 2px solid #2ca1d8;
}

.request-form-button {
  height: 40px;
  width: 20%;
  background-color: #2CA1D8;
  border: none;
  &:hover {
    background-color: darken(#2CA1D8, 10%);
    color: white;
  }
}

.request-form-alert-padding {
  margin-top: 80px;
}

.request-form-header {
  padding-bottom: 50px;
  h3 {
    margin: 0;
  }
  h1 {
    margin-bottom: 20px;
  }
  h3, h1 {
    line-height: 1.8;
  }
}

.join-community {
  background: #fff;
  color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 5px;
  padding: 15px;
}

.request-form-filler {
  background: darken(#fff, 10%);
  margin-top: -5px;
  padding-top: 20px;
  label {
    color: #333;
  }
}

.go-live {
  background-color: #2CA1D8;
  h3 {
    padding: 20px 0;
  }
}

.gray-text {
  color: #909090;
}

.copyright {
  padding-top: 20px;
  ul li a {
    text-decoration: underline;
    color: #5E5D5D;
  }
}

// Icons
.black-icon {
  color: #000;
}

.footer-icons {
  span {
    padding-right: 50px;
  }
}
