// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-portfolio-row {
  background-color: #fff;
  border-bottom: 1px solid #EFEFEF;
  padding: 10px 25px;
  margin-right: 20px;
  font-size: .9em;
  ul li {
    line-height: 1.4em;
  }
  a {
    font-size: .9em;
  }
}

.member-column {
  background-color: #fff;
  border: darken(#EFEFEF, 10%) 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 40px 0;
  hr {
    width: 75%;
    margin: auto;
  }
  h1 {
    font-size: 1.2em;
    font-weight: 500;
  }
  img {
    border-radius: 100px;
  }
  h6 {
    text-transform: uppercase;
    color: #acb0af;
    font-size: .7em;
  }
  p {
    font-size: 1em;
    color: #489cc7;
    font-weight: 300;
  }
  h5 {
    text-transform: uppercase;
    margin-top: 20px;
  }
  a {
    font-weight: lighter;
    letter-spacing: .5px;
    background: #30a9f0;
    padding: 8px 25px;
    color: darken(#fff, 5%);
    border-radius: 2px;
    &:hover {
      color: #fff;
      text-decoration: none;
      background: darken(#30a9f0, 5%);
    }
  }
}

.column-name-location{
  h3 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  h4 {
    font-size: .8em;
    color: #acb0af;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

.column-selling {
  h6 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.column-industry-department {
  h6 {
    margin-top: 15px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.member-headers {
  padding: 0 25px;
}

.gray-text {
  color: #A2A2A2;
}
