<%= stylesheet_link_tag 'select-multiple' %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1" ng-controller="MainSearchController">
    <%= render 'layouts/alerts' %>
    <ul class="list-unstyled col-lg-12 list-inline sign-up-form-header">
      <li><h4>Edit Your Portfolio</h4></li>
    </ul>
    <div class="col-lg-12">
      <div class="sign-up-form-border"></div>
    </div>
    <div class="text-center">
      <img src="<%= @portfolio.company.logo %>" width="100px" alt="" />
    </div>
    <div class="col-lg-12 sign-up-form">
      <%= form_for(@portfolio, url: portfolio_path(@portfolio)) do |f| %>
        <h4><%= @portfolio.company.name %></h4>
        
        <div class="row">
          <div class="col-lg-6">
            <%= f.fields_for :departments do |dep| %>
              <%= dep.label :department_id, "Department", class: 'my-select-label' %>
              <%= dep.select :department_ids, options_from_collection_for_select(Department.all, :id, :name, @portfolio.departments.map(&:id)), {}, {class: 'my-select hide', multiple: true} %>
            <% end %>
          </div>
          <div class="col-lg-6">
            <%= f.fields_for :contact_levels do |contact| %>
              <%= contact.label :contact_level_id, "Contact Levels", class: 'my-select-label' %>
              <%= contact.select :contact_level_ids, options_from_collection_for_select(ContactLevel.all, :id, :name, @portfolio.contact_levels.map(&:id)), {}, {class: 'my-select hide', multiple: true} %>
            <% end %>
          </div>
        </div>
        <div class="sign-up-form-border su-form-border-margin"></div>
      <div class="text-center final-button sign-up-form-button">
        <%= f.submit "Update Company" %>
      </div>
        
      <% end %>
    </div>
  </div>
  
</div>

<%= javascript_include_tag 'select-multiple' %>
<script type="text/javascript">
$(document).ready(function () {
  $('.my-select').SumoSelect({placeholder: 'Select options from below'});
 });
</script>
