<%= stylesheet_link_tag 'select-multiple' %>
<div class="cubed" ng-controller="PortfoliosController">

  <div class="col-lg-10 col-lg-offset-1" ng-controller="MainSearchController">
    <%= render 'layouts/alerts' %>
    <div class="alert alert-success" ng-cloak ng-if="saved">
      <button type="button" class="close" aria-label="Close"><span ng-click="hideAlert()" aria-hidden="true">&times;</span></button>
      <ul class="list-unstyled">
        <li>{{saved}}</li>
      </ul>
    </div>
    <div class="alert alert-danger" ng-cloak ng-if="hasErrors">
      <button type="button" class="close" aria-label="Close"><span ng-click="hideAlert()" aria-hidden="true">&times;</span></button>
      <ul class="list-unstyled">
        <li ng-repeat="error in errors track by $index">{{error}}</li>
      </ul>
    </div>

    <h2 class="text-center white-text">Add companies to your portfolio</h2>
    <h4 class="text-center white-text">List companies you have relationships with and can assist members with key insights</h4>

    <div class="text-center">
      <img ng-src="{{logo}}" ng-if="logo" width="100px" alt="" />
    </div>

    <div class="center sign-up-form">
      <form name="portfolioForm" class="form-horizontal" style="margin-top: 20px;">

        <div class="form-group">
          <input class="form-control" type="text" ng-model="portfolio_account.company" typeahead-select-on-blur="true" typeahead-on-select="setCompanyInfo($item)" typeahead-loading = 'loadingCompanies' uib-typeahead = 'company.name for company in getCompanies($viewValue)' typeahead-no-results = "noResults" class="portfolio-input my-input" placeholder="What company does your connection work with" autocomplete="off">
        </div>

        <div class="form-group">
          <select class="form-control my-select2" id="department-select" multiple="multiple" ng-model="portfolio_account.department_ids">
            <% Department.all.order(name: :asc).each do |dep| %>
              <option value="<%= dep.id %>"><%= dep.name %></option>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="contact-select" multiple="multiple" ng-model="portfolio_account.contact_level_ids">
            <% ContactLevel.all.each do |contact| %>
            <option value="<%= contact.id %>"><%= contact.name %></option>
            <% end %>
          </select>
        </div>

        <div class="text-center">
          <div>
            <a class="white-text" href="#" ng-click="updatePortfolio(portfolio_account)">Add More</a>
          </div>
          <div class="sign-up-form-button">
            <% if current_user.submitted %>
              <a href="#" ng-click="goToProfile(portfolio_account)" class="final-button">Profile</a>
            <% else %>
              <a href="#" ng-click="next(portfolio_account)" class="final-button">Next</a>
            <% end %>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%= javascript_include_tag 'select-multiple.min' %>

<script type="text/javascript">
  $(document).ready(function () {
    $('#department-select').SumoSelect({placeholder: 'Select departments that your contacts work in'});
    $('#contact-select').SumoSelect({placeholder: 'Select contact level'});
  });
</script>
