<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="site-logo"><a href="<%= admin_new_requests_path %>"><img src="<%= asset_path('white-p.png') %>" alt="" width="30" /></a></li>
        <li><a href="<%=companies_path %>"><i class="glyphicon glyphicon-briefcase"></i> Companies</a></li>
        <li><a href="<%= members_path %>"><i class="glyphicon glyphicon-user"></i> Members</a></li>
      </ul>
      <%= render 'layouts/search_form' %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= admin_new_requests_path %>">Approve Members</a></li>
        <li><a href="<%= new_admin_member_path %>">New Admin</a></li>
        <li><a data-method="delete" rel="nofollow" href="/logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<% if request.env['PATH_INFO'].include?('admin') %>
<div class="col-lg-2 left-admin-nav">
  <ul class="list-unstyled">
    <li>
      <%= link_to 'New Requests', admin_new_requests_path %>
      <p>(<%= User.where(created_at: 2.weeks.ago...Date.tomorrow).size %>)<p>
    </li>
    <li>
      <%= link_to 'Unapproved', admin_unapproved_path %>
      <p>(<%= User.where(approved: false, rejected: false, submitted: true).size %>)</p>
    </li>
    <li>
      <%= link_to 'Rejected', admin_rejected_path %>
      <p>(<%= User.where(rejected: true).size %>)</p>
    </li>
    <li>
      <%= link_to 'Current Members', admin_current_path %>
      <p>(<%= User.where(approved: true).size %>)</p>
    </li>
    <li>
      Messages
      <p></p>
    </li>
    <li>
      <%= link_to 'New Companies', admin_new_companies_path %>
      <p></p>
    </li>
    <li>
      Company List
      <p>(<%= Company.all.size %>)</p>
    </li>
    <li>
      Email Templates
      <p></p>
    </li>
    <li>
      Google Analytics</li>
      <p></p>
  </ul>
</div>
<% end %>
