<% flash.each do |key, message| %>
<div class="alert alert-<%= key %>">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <% if message.is_a?(Array) %>
    <% message.each do |msg| %>
    <ul class="list-unstyled">
      <li><%= sanitize(msg) %></li>
    </ul>
    <% end %>
  <% else %>
    <%= sanitize(message) %>
  <% end %>
</div>
<% end %>
