<footer class="footer">
  <ul class="list-unstyled list-inline pull-right footer-elements">
    <li>Privacy Policy</li>
    <li>&#169 Peer Nation <%= Date.today.year %>, All rights reserved</li>
  </ul>
</footer>
