<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="site-logo"><a href="<%= profile_path %>"><img src="<%= asset_path('white-p.png') %>" alt="" width="30" /></a></li>
      </ul>
      
      <% if request.env['PATH_INFO'] == '/profile' && !current_user.submitted %>
      <div class="text-center submit-application navbar-nav">
        <ul class="list-inline list-unstyled">
          <li><h5>Please review below and submit your application</h5></li>
          <li><%= link_to 'Submit', submit_path, method: :patch %></li>
        </ul>
      </div>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="<%= current_user.linkedin_photo %>" class="linkedin-photo" width="20px" height="20px" alt=""></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Member Profile', profile_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Edit Profile', edit_registration_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Password', edit_password_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Add New Company', new_portfolio_path %></li>
          </ul>
        </li>
        <li><a data-method="delete" rel="nofollow" href="/logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
