<div class="modal fade" id="referralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" ng-controller="ReferralController as refs">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div ng-cloak class="referral clearfix">
          <form>
            <div class="form-group">
              <label for="">Email Address</label>
              <input type="email" ng-model="refs.referrals.emails" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <textarea name="editor1" id="editor1" rows="30" cols="180" ng-model="refs.referrals.text">
            </textarea>
            <script>
                editor = CKEDITOR.replace( 'editor1' );
                CKEDITOR.config.height = '300';
            </script>
          </form>
          <div ng-if="refs.response" class="alert alert-{{refs.class}}" style="margin-top:10px;">
            <p>{{refs.response}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="refs.refer(refs.referrals)" class="btn btn-primary">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag Ckeditor.cdn_url %>
