<div ng-controller="MainSearchController" class="text-center">
  <%= form_tag(companies_path, method: 'get', class: "main-search") do %>
    <%= text_field_tag(:name, params[:name], placeholder: "Search Companies", :'ng-model' => 'company_selected', :'typeahead-select-on-blur' => true, :'typeahead-loading' => 'loadingCompanies', :'typeahead-no-results' => 'noResults', :'uib-typeahead' => 'company.name for company in getCompanies($viewValue)', autocomplete: :off) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
