<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="site-logo"><a href="<%= profile_path %>"><img src="<%= asset_path('white-p.png') %>" alt="" width="30" /></a></li>
        <li><a href="<%=companies_path %>"><i class="glyphicon glyphicon-briefcase"></i> Companies</a></li>
        <li><a href="<%= members_path %>"><i class="glyphicon glyphicon-user"></i> Members</a></li>
        <li><a href="<%= profile_path %>"><i class="fa fa-briefcase"></i> Profile</a></li>
        <li><a href="<%= profile_path(target: true) %>"><i class="fa fa-dot-circle-o"></i> Targets</a></li>
      </ul>
      <%= render 'layouts/search_form' %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-alerts"><a href="<%= notifications_path %>"><i class="glyphicon glyphicon-bell"></i><p><%= unread_notifications_number %></p></a></li>
        <li class="nav-alerts"><a href="<%= inbox_index_path %>"><i class="glyphicon glyphicon-envelope"></i><p><%= unread_messages_number %></p></a></li>
        <li><a href="<%= connections_path %>"><i class="fa fa-users" style="font-size: 1em;"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="<%= current_user.linkedin_photo %>" class="linkedin-photo" width="20px" height="20px" alt=""></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Member Profile', profile_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Edit Profile', edit_registration_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Password', edit_password_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Add New Company', new_portfolio_path %></li>
          </ul>
        </li>
        <li><a data-method="delete" rel="nofollow" href="/logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
