<link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a href="<%= root_path %>"><li id="site-logo"><img src="<%= asset_path('white-p.png') %>" alt="" width="30" /></li></a>
      </ul>
      <ul class="list-unstyled nav-sign-in navbar-right">
        <li><a href="<%= login_path %>" class="railway-font front-sign-in-button black-blue-bordered-button">SIGN IN</a></li>
      </ul>
    </div>
  </div>
</nav>
