<!DOCTYPE html>
<html>
<head>
  <title>PeerNation</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div ng-app='app' class="wrapper">
    <%= render navigation_menu %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>

<%= yield(:javascript) %>
</body>
</html>
