<!DOCTYPE html>
<html>
<head>
  <title>PeerNation</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app='app'>
    <%= yield %>
  </div>

</body>
</html>
