<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="<%= asset_path('email.css') %>">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <ul class="email-nav">
        <li class="pull-left"><%= email_image_tag('logo.png') %></li>
        <li class="peer-link"><a href="http://peernation.co" target="_blank">peernation.co</a></li>
    </ul>
  </div>
  <%= yield %>
  <div class="footer">
    <div class="text-center email-icons">
      <p>Copyright &#169 2015 Peer Nation, All rights reserved.</p>
      <p>You are receiving this email because you have applied for a membership or someone has referred you to join Peer Nation.</p>
      <table align="center" width="30%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
           <%= email_image_tag('facebook.png') %>
         </td>
         <td align="center">
           <%= email_image_tag('twitter.png') %>
         </td>
         <td align="center">
           <%= email_image_tag('linkedin.png') %>
         </td>
        </tr>
      </table>
      <p id="privacy-policy"><a href="">Privacy Policy</a></p>
    </div>
  </div>
</body>
</html>
