<!DOCTYPE html>
<html>
<head>
  <title>PeerNation</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div ng-app='app' class="wrapper" style="margin-top: 20px;">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

<%= yield(:javascript) %>
</body>
</html>
