<div class="row" style="margin-top: 78px;">
  <div class="col-lg-4" ng-repeat="member in members track by member.id">
    <div class="col-lg-12 text-center member-column">
      <img ng-src="{{member.photo}}" height="70" width="70" alt="">
      <div class="column-name-location">
        <h1>{{member.name}}</h1>
        <h4>{{member.city}}, {{member.state}}</h4>
      </div>
      <hr>
      <div class="column-selling">
        <h6>Currently Selling</h6>
        <p>{{member.currently_sell}}</p>
      </div>
      
      <div class="column-industry-department" ng-repeat="company in member.portfolio | limitTo: 1 track by company.id">
        <h6>Industries</h6>
        <p>{{company.industry_names | cut:true:30:'...'}}</p>
        <h6>Departments</h6>
        <p>{{company.department_names | cut:true:30:'...'}}</p>
        <h6>Portfolio Companies</h6>
        <p>{{member.portfolio_count}}</p>
      </div>
      <a ng-href="/members/{{member.id}}" class="profile-button">Profile</a>
    </div>
  </div>
</div>
