<div class="row">
  <div class="member-headers">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="header-gray">Member</h5>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-3">
            <h5 class="header-gray">Industry</h5>
          </div>
          <div class="col-lg-3">
            <h5 class="header-gray">Department</h5>
          </div>
          <div class="col-lg-3">
            <h5 class="header-gray">Contact</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="member-portfolio-row" ng-repeat="member in members | limitTo: 20 track by member.id" ng-cloak>
    <div class="row">
      <div class="col-lg-3">
        <div class="col-lg-3">
          <img style="" class="row linkedin-photo" ng-src="{{member.photo}}" width="60px" height="60px" alt="" />
        </div>
        <div class="col-lg-9">
          <ul class="list-unstyled" style="margin-left: 10px;">
            <strong><li style="font-size: 1.2em; margin-bottom: 5px;">{{member.name}}</li></strong>
            <li class="gray-text">{{member.role}}</li>
            <li class="gray-text">{{member.city}}</li>
            <li><strong>Sells:</strong> <span class="gray-text">{{member.currently_sell}}</span></li>
            <li class="gray-text"><i class="glyphicon glyphicon-briefcase"></i> {{member.portfolio_count}} Companies</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9" style="padding-top: 3%;">
        <div class="row" ng-repeat="company in member.portfolio | limitTo: 1 track by company.id">
          <!-- <div class="col-lg-3">
            {{company.name}}
          </div> -->
          <div class="col-lg-3">
            <ul class="list-unstyled" ng-repeat="industry in company.industries track by industry.id">
              <li>{{industry.name}}</li>
            </ul>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled" ng-repeat="department in company.departments | limitTo: 3 track by department.id">
              <li ng-if="showMorePortfolio($index)">{{department.name}}</li>
            </ul>
            <div ng-if="company.departments.length > 1"
              <p ng-click="showPortfolio()" ng-if="!showMorePortfolio(1)">More</p>
              <p ng-click="showPortfolio()" ng-if="showMorePortfolio(1)">Less</p>
            </div>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled" ng-repeat="contact in company.contacts | limitTo: 3 track by contact.id">
              <li ng-if="showMorePortfolio($index)">{{contact.name}}</li>
            </ul>
          </div>
          <a href="/members/{{member.id}}" class="profile-button">View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
