<% if current_user %>
  <input type="checkbox" ng-change="searchByPeers(checked, <%= current_user.id %>)" ng-model="checked" style="margin-bottom: 30px;"> Show Peers Only
<% end %>

<% if params[:controller] == "members" %>
  <div class="filter-header">
    <h5 class="header-black">Industries</h5>
    <div class="sign-up-form-border"></div>
  </div>

  <div class="industries-list">
    <ul class="list-unstyled" ng-cloak ng-repeat="industry in industries track by industry.id">
      <li>
        <input class="" ng-disabled="inputsDisabled" ng-change="searchByIndustry(industry)" ng-model="industry.checked" ng-value="industry.name" type="checkbox"> {{industry.name}}
      </li>
    </ul>
  </div>
<% end %>

<div class="filter-header">
  <h5 class="header-black">Departments</h5>
  <div class="sign-up-form-border"></div>
</div>

<div class="industries-list">
  <ul class="list-unstyled" ng-cloak ng-repeat="department in departments">
    <li><input ng-disabled="inputsDisabled" ng-change="searchByDepartment(department)" ng-model="department.checked" ng-value="department.name" type="checkbox"> {{department.name}}</li>
  </ul>
</div>

<div class="filter-header">
  <h5 class="header-black">Contact Level</h5>
  <div class="sign-up-form-border"></div>
</div>

<div class="contacts-list">
  <ul class="list-unstyled" ng-cloak ng-repeat="contact in contactLevels">
    <li><input ng-change="searchByContactLevel(contact)" ng-model="contact.checked" ng-value="contact.name" type="checkbox"> {{contact.name}}</li>
  </ul>
</div>

<div class="filter-header">
  <h5 class="header-black">Location</h5>
  <div class="sign-up-form-border"></div>
</div>

<div class="">
  <input type="text" placeholder="City, State" name="name" ng-model="locationSelected" id="location-search-form" typeahead-loading='loadingCities' typeahead-no-results="noResults" typeahead-select-on-blur="true" uib-typeahead="location for location in getLocation($viewValue) | limitTo:8" typeahead-on-select="searchByCity($item)" autocomplete="off" >
  <i ng-show="loadingCities" class="fa fa-spinner"></i>
  <div ng-show="noResults">
    <p class="fa fa-times" ng-click="clearCitySearch()">No Results Found</i></p>
  </div>
  <p ng-repeat="city in cities track by $index" class="pull-left" id="searched-cities" ng-cloak>{{city}} <i class="fa fa-times" ng-click="unselectCity(city)"></i></p>
</div>
