<div ng-controller="ConnectionsController" ng-init="madeRequest = false">
  <div class="alert alert-success col-lg-offset-3" role="alert" ng-cloak ng-if="madeRequest">
    <h4>{{response}}</h4>
  </div>
  <div class="alert alert-danger col-lg-offset-3" role="alert" ng-cloak ng-if="unsuccessfulRequest">
    <h4>{{response}}</h4>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <%= render 'member_search' %>
    </div>
    <div class="col-lg-10">
      <%= render 'column_layout' %>
    </div>
  </div>
</div>
