<%= render 'layouts/alerts' %>
<div ng-controller="ApplicationController">

  <% if user_type.connected?(@member) && current_user%>
    <div class="report-remove">
      <i class="fa fa-flag"> Report</i>
      <i class="fa fa-user-times"> Remove Peer</i>
    </div>
  <% end %>

  <div class="row" ng-cloak>
    <div class="col-lg-3">
      <div id="profile-header-box">
        <div class="row">
          <div class="col-lg-3 col-lg-offset-1">
            <img class="linkedin-photo" src="<%= photo(@member) %>" width="50px" height="50px" alt="" />
          </div>
          <ul class="list-unstyled col-lg-8">
            <h4><li><%= name(@member) %></li></h4>
            <% if user_type.connected?(@member) %>
              <li><%= @member.role %></li>
              <li><%= @member.city %></li>
            <% end %>
          </ul>

          <div class="col-lg-12 text-center" style="margin-top: 20px;">

            <% if user_type.no_connection(@member.id) %>
              <a href="#" id="request-as-peer" class="linkedin-button">Peer Request</a>
              <a class="message-button" href="" id="send-message" style="margin-left: 5px;">
                <i class="fa fa-envelope"></i>
                Message
              </a>
            <% end %>

            <% if user_type.pending?(@member.id) %>
              <%= link_to 'Accept', connection_path(answer: 'Accept', profile: true), class: 'linkedin-button accept', method: :patch %>
              <%= link_to 'Reject', connection_path(answer: 'Reject', profile: true), class: 'message-button reject', method: :patch %>
            <% end %>

            <% if user_type.connected?(@member.id) %>
              <a class="linkedin-button" href="<%= @member.linkedin_url %>" target="_blank">
                <i class="fa fa-linkedin"></i>
                LinkedIn
              </a>
              <a class="message-button" href="" id="send-message" style="margin-left: 5px;">
                <i class="fa fa-envelope"></i>
                Message
              </a>
            <% end %>

            <% if user_type.requested?(@member.id) %>
              <p style="margin-bottom: 20px;"> Request Sent </p>
              <a class="message-button requested" href="" id="send-message" style="margin-left: 5px;">
                <i class="fa fa-envelope"></i>
                Message
              </a>
            <% end %>
          </div>
        </div>
      </div>
      
      <div ng-controller="PeerMessageController as message">
        <div class="alert alert-success" ng-if="message.requestSuccess">{{message.requestSuccess}}</div>
        <div class="alert alert-danger" ng-if="message.requestError">{{message.requestError}}</div>
        <div class="hide-message peer-request-message" id="peer-request">
          <form name="peer-request" ng-submit="message.sendPeerRequest(<%= @member.id %>, message)">
            <textarea name="" id="" rows="5" class="col-lg-12" ng-model="message.requestBody"></textarea>
            <input type="submit" value="Send Request">
            <i class="glyphicon glyphicon-remove trash-message" id="message-trash"></i>
          </form>
        </div>

        <div class="alert alert-success" ng-if="message.messageSuccess">{{message.messageSuccess}}</div>
        <div class="alert alert-danger" ng-if="message.messageError">{{message.messageError}}</div>
        <div class="hide-message peer-request-message" id="peer-message">
          <form name="peer-message" ng-submit="message.sendMessage(<%= @member.id %>, message)">
            <input type="text" placeholder="Subject" ng-model="message.messageSubject" class="col-lg-12">
            <textarea name="" id="" rows="5" class="col-lg-12" ng-model="message.messageBody"></textarea>
            <input type="submit" value="Send Message">
            <i class="glyphicon glyphicon-remove trash-message" id="message-trash"></i>
          </form>
        </div>
      </div>

      <% if user_type.connected?(@member) || user_type.pending?(@member) %>
      <div id="profile-side-panel">
        <ul class="list-unstyled">
          <li>
            <h4 class="header-black">Current Position</h4>
            <p><%= @member.position %></p>
          </li>
          <li>
            <h4 class="header-black">Currently Sells</h4>
            <p><%= @member.currently_sell %></p>
          </li>
          <li>
            <h4 class="header-black">Industries Focused On</h4>
            <% @member.target_industries.each do |industry| %>
              <p> <%= industry.name %> </p>
            <% end %>
          </li>
          <li>
            <h4 class="header-black">Sells to these departments</h4>
            <% @member.departments.each do |dep| %>
              <p> <%= dep.name %> </p>
            <% end %>
          </li>
          <li>
            <h4 class="header-black">About Me</h4>
            <p><%= @member.summary %></p>
          </li>
        </ul>
      </div>
      <% end %>

    </div>

    <div class="col-lg-9">
      <ul class="portfolio-tabs list-unstyled">
        <li ng-class="{'active-tab': showPortfolio, 'inactive-tab': !showPortfolio}" ng-click="showTab('portfolio')"><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Portfolio</a></li>
        <li ng-class="{'active-tab': showTargets, 'inactive-tab': !showTargets}" ng-click="showTab('targets')"><a href="#"><i class="fa fa-dot-circle-o"></i> Targets</a></li>
      </ul>
    </div>

    <div class="col-lg-9">

      <div ng-show="showPortfolio" ng-cloak>
        <div class="row">
          <div class="col-lg-12 company-header-gray">
            <h4 class="col-lg-4">Company</h4>
            <h4 class="col-lg-2">Industry</h4>
            <h4 class="col-lg-2">Department</h4>
            <h4 class="col-lg-2">Contact</h4>
          </div>
        </div>

        <% @member.portfolio_accounts.each do |portfolio| %>
          <div class="col-lg-12 portfolio-company-row">
            <%= render partial: 'users/companies', locals: {portfolio: portfolio} %>
          </div>
        <% end %>
      </div>

      <div class="row" ng-show="showTargets" ng-cloak>
        <% @member.target_accounts.each do |portfolio| %>
          <div class="col-lg-3">
            <%= render partial: 'users/target_companies', locals: {company: portfolio.company} %>
          </div>
        <% end %>
      </div>
      

    </div>
  </div>
</div>

<%= javascript_include_tag 'peer_messages' %>
